{if $page_name !='module-medicalmarijuanaexchangedirectory-mypro'
	&& $page_name !='module-medicalmarijuanaexchangedirectory-directorymanager'
	&& $page_name !='module-medicalmarijuanaexchangedirectory-addpay' 
	&& $page_name !='module-medicalmarijuanaexchangedirectory-storeopt' 
	&& $page_name !='module-medicalmarijuanaexchangedirectory-storeinfo' 
	&& $page_name !='module-medicalmarijuanaexchangedirectory-advmanager'  
	&& $page_name !='module-medicalmarijuanaexchangedirectory-addbanner' 
	&& $page_name !='module-medicalmarijuanaexchangedirectory-editcampaign' 
	&& $page_name !='module-medicalmarijuanaexchangedirectory-editstories'
	&& $page_name !='module-medicalmarijuanaexchangedirectory-addproduct' 
	&& $page_name !='module-medicalmarijuanaexchangedirectory-importcsv'
	&& $page_name !='module-medicalmarijuanaexchangedirectory-adminjobs'
	&& $page_name !='module-medicalmarijuanaexchangedirectory-jobs'
	&& $page_name !='module-medicalmarijuanaexchangedirectory-off'
	&& $page_name !='module-medicalmarijuanaexchangedirectory-pointsystem'
	&& $page_name !='module-medicalmarijuanaexchangedirectory-adminorders'
	&& $page_name !='my-account'
	&& $page_name !='history'
	&& $page_name !='order-slip'
	&& $page_name !='addresses'
	&& $page_name !='identity'
}
	{if !empty($topbanner)}
		{if $topbanner.type == 2}
		{* <div class="publi">
			<a target="_blank" href="{if strpos($banner.url,'http') !== false}{$banner.url}{else}http://{$banner.url}{/if}">
				<img class="publi-img" src="{$base_dir_ssl}/modules/medicalmarijuanaexchangedirectory/bimg/{$banner.b.banner_img}" />
			</a>
		</div> *}
		<div class="publi">
			<a target="_blank" href="{if strpos($topbanner.url,'http') !== false}{$topbanner.url}{else}http://{$topbanner.url}{/if}">
				{* <img class="publi-img" src="{$base_dir_ssl}/modules/medicalmarijuanaexchangedirectory/bimg/{$topbanner.banner_img}" /> *}
				{* <img class="publi-img" src="{getBuildBannerUrl($topbanner.banner_img)}" /> *}
				{if $topbanner.size == '4'}
	              here will be video
	            {else}
	              <img class="publi-img" src="{getBuildBannerUrl($topbanner.banner_img)}" />
	            {/if}
			</a>
		</div>
		{elseif $topbanner.type == 1} 
		{*******lll 13/09/2018*****}

		{* <div class="publi">
			<a target="_blank" href="{$link->getModuleLink('medicalmarijuanaexchangedirectory', 'linkcount')|escape:'html'}?campurl={$banner.id_camp}">
				<img class="publi-img" src="{$base_dir_ssl}/modules/medicalmarijuanaexchangedirectory/bimg/{$banner.b.banner_img}" />
			</a>
		</div> *}
		<div class="publi">
			<a target="_blank" href="{$link->getModuleLink('medicalmarijuanaexchangedirectory', 'linkcount')|escape:'html'}?campurl={$topbanner.id_camp}">
				{* <img class="publi-img" src="{$base_dir_ssl}/modules/medicalmarijuanaexchangedirectory/bimg/{$topbanner.banner_img}" /> *}
				{if $topbanner.size == '4'}
	              here will be video
	            {else}
	              <img class="publi-img" src="{getBuildBannerUrl($topbanner.banner_img)}" />
	            {/if}
			</a>
		</div>
		{/if}
	{/if}
{/if}