{capture name=path}
	<span class="navigation_page">News</span>
{/capture}

<!-- <div class="left_width">
  <div id="cannabis_news">
    {foreach from=$cannabis_news item=item}
      <div class="news-list">
          <a href="{$item->news_url}">
            <img src="{$item->image_url}">
          </a>
          <a class="news_title" href="{$item->news_url}">{$item->title}</a>
          {$item->text|truncate:200:"...":true}
      </div>
    {/foreach}
    </div>
    <a href="#" data-page="2" id="loadMore">Load More</a>
  
</div> -->
<div class="right_width">
  <iframe id="relatedcompanies" frameborder="0" scrolling="no" width="100%" height="268" src="https://api.stockdio.com/visualization/financial/charts/v1/QuoteBoard?stockExchange=otcmkts&amp;symbol=ACBFF&amp;presetlist=related_indices&amp;limit=6&amp;palette=Financial-Light&amp;width=100%25&amp;height=auto&amp;onlink=true&amp;onload=iframemarkets&amp;template=2451116a-1563-4a96-be20-60554d6748ba&amp;&amp;app-key=9F294CB158A94C73B7D84E38BC128E54"></iframe>

  <div class="stocks_list">
    <iframe id='st_c0b82d488b814ee7882627a227052610' frameBorder='0' scrolling='no' width='100%' height='600' src='https://api.stockdio.com/visualization/financial/charts/v1/QuoteBoard?app-key=9F294CB158A94C73B7D84E38BC128E54&stockExchange=OTCMKTS&symbols=ACAN;NYSENasdaq:ACB;ACCA;ACOL;ACRL;ADVT;AERO;AGTK;AMFE;AMMJ;NYSENasdaq:APHA;ATTBF;AXIM;BLOZF;BUDZ;BXNG;CAFS;CANL;CANN;NYSENasdaq:CARA;CBCA;CBDS;CBGI;CBIS;CBMJ;CBNT;CBSC;CCAN;NYSENasdaq:CGC;CGRA;CGRW;CHUM;CIIX;CLSH;CMMDF;CNAB;CNBX;CNZCF;CPMD;CRWG;CSAX;CURR;CVSI;DEWM;DIGP;DIRV;DPWW;EAPH;EFFI;EMHTF;EMMBF;ERBB;ETST;EVIO;GBHPF;GBLX;GLAG;GNBT;GRCU;GRNH;GRSO;GRWC;GRWG;GTBP;GTSO;NYSENasdaq:GWPH;HLIX;HLSPY;HMPQ;HVST;HYYDF;ICCLF;NYSENasdaq:IIPR;NYSENasdaq:IGC;IMLFF;NYSENasdaq:INSY;IVITF;KAYS;KGKG;KSHB;LCTC;LDSYF;LSCG;LVVV;MCIG;MCOA;MCPI;MDCL;MDEX;MDRM;MGWFF;MJMD;MJNA;MJNE;MNTR;MQPXF;MRPHF;MSRT;MYDX;MYHI;NDEV;NHLE;NMUS;NSPDF;NVGT;OGRMF;OWCP;PKPH;PLPL;PMCB;PNPL;PNTV;POTN;PRMCF;PRRE;PUFXF;QRSRF;REFG;REVI;RMHB;RSSFF;SING;SIPC;NYSENasdaq:SMG;SNNC;SPLIF;SPRWF;SRNA;STEV;STWC;TAUG;TBPMF;TECR;THCBF;NYSENasdaq:TLRY;NYSENasdaq:TRPX;TRTC;UAMM;UMBBF;VAPI;VAPR;VATE;VHUB;VRTHF;WCIG;WDRP;WTII;ZDPY;NYSENasdaq:ZYNE&includeLogo=false&palette=Financial-Light&title=Marijuana%20Stocks&linkUrl=https://mme.world/stockprofile?exchange={literal}{exchange}%26symbol={symbol}{/literal}&onload=st_c0b82d488b814ee7882627a227052610&height=600px'></iframe>
  </div>

  {include file="$includedir/financial_right_banner.tpl"}

</div>
<!-- <script type="text/javascript">
  $("#loadMore").on('click', function (e) {
        e.preventDefault();
        var page = $("#loadMore").data("page");
        $("#loadMore").data("page", page+1);
        $.ajax({
            url: 'https://stocknewsapi.com/api/v1/category?section=alltickers&items=10&topic=cannabis&token=wbogsrz0j0cpp6hururrf5renku3wokwlkjyhxgf&page='+page,
            context: document.body
        }).done(function (r) {
            var content='';
            for (i = 0; i < r.data.length; i++) {
              content = '<div class="news-list"><a href="'+r.data[i].news_url+'"><img src="'+r.data[i].image_url+'"></a><a class="news_title" href="'+r.data[i].news_url+'">'+r.data[i].title+'</a>'+r.data[i].text+'</div>'
              $('#cannabis_news').append(content);
            }

        }).fail(function (e) {
           console.log('my fail code');
        });
  });
</script> -->