{capture name=path}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<span class="navigation_page">Directory manager</span>
{/capture}

{include file="$includedir/directmanager.tpl"}

