{if $idtoedit == 0}
<div class="container">
 <table class="table table-striped">
    <thead>
      <tr>
        <th>Edit</th>
        <th>Logo</th>
        <th>Name</th>
        <th>About</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      
	  {foreach $results as $result}
	  <tr>
        
		<td>
		{if $result.logo != ""}
		<img style="width:75px;" class="" src="/modules/medicalmarijuanaexchangedirectory/upload/{$result.logo}"/>
		{/if}
		</td>
		
		<td>{$result.name}</td>
        <td>{$result.about}</td>
        <td>{$result.email}</td>
		
		<td>
	   <a href="/index.php?fc=module&module=medicalmarijuanaexchangedirectory&controller=edit&idtoedit=12" class="button">Edit</a>
	   </td>
	   
	   
	   
      </tr>
      
	  {/foreach}
	  
    </tbody>
  </table>	
</div>



	<pre>
	{$results|@print_r}
	</pre>
	
	
{else}
<div class="container">

</div>
{/if}