
{************


<div class="clearfix" style="background:url({$img_dir}homebackcan.jpg);background-size: 100% auto;background-attachment: fixed;">
<h1 style="color:white;padding:25px;text-align:center;padding-bottom: 0;text-transform: uppercase;font-weight:800!important">{$cityinfos->city}</h1>
<h2 style="color:white;padding:10px;text-align:center;">{$cityinfos->region_name}</h2>
</div>






<div class="lnebg" style="margin: 0 15px;">
<div class="hdnam" >
	<a href="#">
		<img style="margin-top: -12px;" src="http://medicalmarijuanaexchange.com/themes/transformer/img/featured.png" width="49" height="49" alt=""> 
		<span style="font-size:25px">Featured Products</span>
	</a>
</div>

*******}