
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<!-- <pre>{$items|print_r}</pre> -->

<script>
   if (typeof(stockdio_events) == "undefined") {
      stockdio_events = true;
      var stockdio_eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
      var stockdio_eventer = window[stockdio_eventMethod];
      var stockdio_messageEvent = stockdio_eventMethod == "attachEvent" ? "onmessage" : "message";
      stockdio_eventer(stockdio_messageEvent, function (e) {
         if (typeof(e.data) != "undefined" && typeof(e.data.method) != "undefined") {
            eval(e.data.method);
         }
      },false);
   }
</script>
<div class="left_width">

  {assign var="i" value=0} 
  {foreach from=$items item=news}
    {if $i == 0}
    <div class="news_header_holder">
    <div class="first_news">
      {if $news.seo_url|strstr:'http'}
      <a href="{$news.seo_url}" target="_blank">
      {else}
      <a href="/modules/blockblog/blockblog-post.php?post_id={$news.id}">
      {/if}
        {if !empty({$news.img})}<img src="/upload/blockblog/{$news.img}">{/if}
        <span>{$news.title}</span>
      </a>
    </div>
    {elseif $i > 5}
    {break}

    {else}
    <div style="clear: both;"></div>
    <div class="news-list">
            {if $news.seo_url|strstr:'http'}
      <a href="{$news.seo_url}" target="_blank">
      {else}
      <a href="/modules/blockblog/blockblog-post.php?post_id={$news.id}">
      {/if}
        {if !empty({$news.img})}<img src="/upload/blockblog/{$news.img}">{/if}
      </a>
      <a class="news_title" href="/modules/blockblog/blockblog-post.php?post_id={$news.id}">{$news.title}</a>
      {$news.content|truncate:200:"...":true}
    </div>
    {/if}

  {assign var="i" value=$i+1}
  {/foreach}
 <!--  {foreach from=$cannabis_news item=item}
    <div class="news-list">
            {if $item.seo_url|strstr:'http'}
            <a href="{$item.seo_url}" target="_blank">
            {else}
            <a href="{$item->news_url}">
            {/if}
        
          {if !empty($item->image_url)}<img src="{$item->image_url}">{/if}
        </a>
        <a class="news_title" href="{$item->news_url}">{$item->title}</a>
        {$item->text|truncate:200:"...":true}
    </div>
  {/foreach} -->
  <!-- <a class="all_cannabis_news" href="/cannabis-news">more news</a> -->
  <a class="all_cannabis_news" href="/blog/category/categorynjzv8w">more news</a>

</div>
</div>
<div class="right_width">
  <iframe id="relatedcompanies" frameborder="0" scrolling="no" width="100%" height="268" src="https://api.stockdio.com/visualization/financial/charts/v1/QuoteBoard?stockExchange=otcmkts&amp;symbol=NYSENasdaq:ACB&amp;presetlist=related_indices&amp;limit=6&amp;palette=Financial-Light&amp;width=100%25&amp;height=auto&amp;onlink=true&amp;onload=iframemarkets&amp;template=2451116a-1563-4a96-be20-60554d6748ba&amp;&amp;app-key=9F294CB158A94C73B7D84E38BC128E54"></iframe>

  <div class="stocks_list">
    <iframe id='st_c0b82d488b814ee7882627a227052610' frameBorder='0' scrolling='no' width='100%' height='600' src='https://api.stockdio.com/visualization/financial/charts/v1/QuoteBoard?app-key=9F294CB158A94C73B7D84E38BC128E54&stockExchange=OTCMKTS&symbols=ACAN;NYSENasdaq:ACB;ACCA;AERO;AGTK;AMFE;AMMJ;NYSENasdaq:APHA;ATTBF;AXIM;BLOZF;BUDZ;BXNG;CAFS;CANL;CANN;NYSENasdaq:CARA;CBCA;CBDS;CBGI;CBIS;CBMJ;CBNT;CBSC;CCAN;NYSENasdaq:CGC;CGRA;CGRW;CHUM;CIIX;CLSH;CMMDF;CNAB;CNBX;CNZCF;CPMD;CRWG;CURR;CVSI;DIGP;DIRV;DPWW;EAPH;EFFI;EMHTF;EMMBF;ERBB;ETST;EVIO;GBHPF;GBLX;GLAG;GNBT;GRCU;GRNH;GRWC;GRWG;GTSO;NYSENasdaq:GWPH;HLIX;HLSPY;HVST;HYYDF;ICCLF;NYSENasdaq:IIPR;NYSENasdaq:IGC;IMLFF;NYSENasdaq:INSY;KAYS;KGKG;KSHB;LCTC;LDSYF;LVVV;MCIG;MCOA;MCPI;MDCL;MDEX;MDRM;MGWFF;MJMD;MJNA;MJNE;MNTR;MQPXF;MRPHF;MSRT;MYHI;NDEV;NMUS;NSPDF;OGRMF;OWCP;PKPH;PMCB;PNPL;POTN;PRMCF;PUFXF;QRSRF;REFG;;RMHB;SING;SIPC;NYSENasdaq:SMG;SNNC;SPLIF;SPRWF;SRNA;TAUG;TBPMF;TECR;THCBF;NYSENasdaq:TLRY;NYSENasdaq:TRPX;TRTC;UMBBF;VAPI;VAPR;VATE;VRTHF;WCIG;ZDPY;NYSENasdaq:ZYNE&includeLogo=false&palette=Financial-Light&title=Marijuana%20Stocks&linkUrl=https://mme.world/stockprofile?exchange={literal}{exchange}%26symbol={symbol}{/literal}&onload=st_c0b82d488b814ee7882627a227052610&height=600px'></iframe>
  </div>

  <!-- <div id="stocks_news">
  	<div class="stocks_news_title">Latest news</div>
  	<div id="news_list">
  		<div class="single_news_block">News Loading...</div>
  	</div>
  		<div class="single_news_block">
  			<a class="more_news" href="/latest-news">More News<i class="fas fa-chevron-right"></i></a>
  		</div>
  </div> -->
  {include file="$includedir/financial_right_banner.tpl"}
</div>

<!-- <div id="stocks_news" class="financial_news">
  <div class="stocks_news_title">Latest news</div>
    <div id="news_list">
        {foreach from=$fin_news item=new}
          <div class="single_news_block">
            <a href="{$new.seo_url}" target="_blank">{$new.title}</a>
          </div>
        {/foreach}
    </div>
  <div class="single_news_block">
    <a class="more_news" href="/latest-news">More News<i class="fas fa-chevron-right"></i></a>
  </div>
</div> -->

<script type="text/javascript">
$( document ).ready(function(){
  // var markets = ['ACAN', 'NYSENasdaq:ACB', 'ACCA', 'ACOL', 'ACRL', 'ADVT', 'AERO', 'AGTK', 'AMFE', 'AMMJ', 'NYSENasdaq:APHA', 'ATTBF', 'AXIM', 'BLOZF', 'BUDZ', 'BXNG', 'CAFS', 'CANL', 'CANN', 'CBCA', 'CBDS', 'CBGI', 'CBIS', 'CBMJ', 'CBNT', 'CBSC', 'CCAN', 'CGRA', 'CGRW', 'CHUM', 'CIIX', 'CLSH', 'CMMDF', 'CNAB', 'CNBX', 'CNZCF', 'CPMD', 'CRWG', 'CSAX', 'CURR', 'CVSI', 'DEWM', 'DIGP', 'DIRV', 'DPWW', 'EAPH', 'EFFI', 'EMHTF', 'EMMBF', 'ERBB', 'ETST', 'EVIO', 'GBHPF', 'GBLX', 'GLAG', 'GNBT', 'GRCU', 'GRNH', 'GRSO', 'GRWC', 'GRWG', 'GTBP', 'GTSO', 'HLIX', 'HLSPY', 'HMPQ', 'HVST', 'HYYDF', 'ICCLF', 'IMLFF', 'IVITF', 'KAYS', 'KGKG', 'KSHB', 'LCTC', 'LDSYF', 'LSCG', 'LVVV', 'MCIG', 'MCOA', 'MCPI', 'MDCL', 'MDEX', 'MDRM', 'MGWFF', 'MJMD', 'MJNA', 'MJNE', 'MNTR', 'MQPXF', 'MRPHF', 'MSRT', 'MYDX', 'MYHI', 'NDEV', 'NHLE', 'NMUS', 'NSPDF', 'NVGT', 'OGRMF', 'OWCP', 'PKPH', 'PLPL', 'PMCB', 'PNPL', 'PNTV', 'POTN', 'PRMCF', 'PRRE', 'PUFXF', 'QRSRF', 'REFG', 'REVI', 'RMHB', 'RSSFF', 'SING', 'SIPC', 'SNNC', 'SPLIF', 'SPRWF', 'SRNA', 'STEV', 'STWC', 'TAUG', 'TBPMF', 'TECR', 'THCBF', 'TRTC', 'NYSENasdaq:CGC', 'UAMM', 'UMBBF', 'VAPI', 'VAPR', 'VATE', 'VHUB', 'VRTHF', 'WCIG', 'WDRP', 'WTII', 'ZDPY'];

// var markets = ['ACAN', 'NYSENasdaq:ACB','AGTK', 'AMFE', 'AMMJ', 'NYSENasdaq:APHA', 'ATTBF', 'AXIM', 'BLOZF', 'BUDZ', 'BXNG', 'CAFS', 'CANL', 'CANN', 'CBCA', 'CBDS', 'CBGI', 'CBIS', 'CBMJ', 'CBNT', 'CBSC', 'CCAN', 'CGRA', 'CGRW', 'CHUM', 'CIIX', 'CLSH', 'CMMDF', 'CNAB', 'CNBX', 'CNZCF', 'CPMD', 'CRWG', 'CSAX', 'CURR', 'CVSI', 'DEWM', 'DIGP', 'DIRV',  'EVIO', 'GBHPF', 'GBLX', 'GLAG', 'GNBT', 'GRCU', 'GRNH', 'GRSO', 'GRWC', 'GRWG', 'GTBP', 'GTSO', 'HLIX', 'HLSPY', 'HMPQ', 'HVST', 'HYYDF', 'KGKG', 'KSHB', 'LCTC', 'LDSYF', 'LSCG', 'LVVV', 'MCIG', 'MCOA', 'MCPI', 'MDCL', 'MDEX', 'MDRM', 'MGWFF', 'MJMD', 'MJNA', 'MJNE', 'MNTR', 'MQPXF', 'MRPHF', 'MSRT', 'MYDX', 'MYHI', 'NDEV', 'NHLE', 'NMUS', 'NSPDF', 'NVGT', 'OGRMF', 'OWCP', 'PKPH', 'PLPL', 'PMCB', 'PNPL', 'PNTV', 'POTN', 'PRMCF', 'PRRE', 'PUFXF', 'QRSRF', 'REFG', 'REVI', 'RMHB', 'RSSFF', 'SRNA', 'STEV', 'STWC', 'TAUG', 'NYSENasdaq:CGC','WCIG', 'WDRP', 'WTII', 'ZDPY'];

    var markets = ['ACAN', 'NYSENasdaq:ACB','AGTK', 'AMFE', 'AMMJ', 'NYSENasdaq:APHA', 'ATTBF', 'AXIM', 'BLOZF', 'BUDZ', 'BXNG', 'CAFS', 'CANL', 'CANN', 'CBCA', 'CBDS', 'CBGI', 'CBIS', 'CBMJ', 'CBNT', 'CBSC', 'CCAN', 'CGRA', 'CGRW', 'CHUM', 'CIIX', 'CLSH', 'CMMDF', 'CNAB', 'CNBX', 'CNZCF', 'CPMD', 'CRWG', 'CURR', 'CVSI', 'DIGP', 'DIRV',  'EVIO', 'GBHPF', 'GBLX', 'GLAG', 'GNBT', 'GRCU', 'GRNH', 'GRWC', 'GRWG', 'GTSO', 'HLIX', 'HLSPY', 'HVST', 'HYYDF', 'KGKG', 'KSHB', 'LCTC', 'LDSYF', 'LVVV', 'MCIG', 'MCOA', 'MCPI', 'MDCL', 'MDEX', 'MDRM', 'MGWFF', 'MJMD', 'MJNA', 'MJNE', 'MNTR', 'MQPXF', 'MRPHF', 'MSRT', 'MYHI', 'NDEV', 'NMUS', 'NSPDF', 'OGRMF', 'OWCP', 'PKPH', 'PMCB', 'PNPL', 'POTN', 'PRMCF', 'PUFXF', 'QRSRF', 'REFG', 'RMHB', 'SRNA', 'TAUG', 'NYSENasdaq:CGC','WCIG', 'ZDPY'];

    var news = [];
    var j = 0;
    var i = 0;
    getnews();
    function getnews() {
      if (i <= markets.length-1) {
        i++;
        $.ajax({
          url: 'https://api.stockdio.com/data/financial/info/v1/getNewsEx?app-key=9F294CB158A94C73B7D84E38BC128E54&nItems=2&includeImage=false&includeDescription=false&stockExchange=OTCMKTS&symbol='+markets[i],
          context: document.body
        }).done(function (r) {
            news_one = r['data']['news']['values'];
            news = $.merge( $.merge( [], news ), news_one);
            if(news.length >= 5){
              shownews();
            }
            
            getnews();
        }).fail(function (e) {
           console.log('my fail code');
           getnews();
        });
        j++;
        if (j == markets.length-1) {
          shownews();
        }
      }
    }
   function shownews() {
    news.sort(function(a,b){
      return new Date(b[0]) - new Date(a[0]);
    });
    console.log(news);
    news_list = '';
    for (var i = 0; i <= 4; i++) {
      news_list += '<div class="single_news_block"><a class="singlr_title" href="'+news[i][2]+'" target="_blank">'+news[i][1]+'</a> <span class="singl_date">'+moment(news[i][0]).fromNow()+' | '+news[i][5]+'</span></div>';
    }
    $('#news_list').html(news_list);
   }  
});

</script>