<script src="https://cdn.bootcss.com/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/simplePagination.js/1.6/simplePagination.css">
<div class="row">
<div class="col-md-8">
<h3>Jobs
 {if isset($statename)}in {$statename}{/if}
 {if isset($indname)}in industry: "{$indname}"{/if}
</h3>

	<h4>Your search generated <span style="color:#5bbe8f;font-weight: 900!important;">{$jobs_total}</span> results</h4>
		{foreach $jobs_db item=job}
		
		<div class="jobslistrow linhajob">
		<a href="{$link->getModuleLink('medicalmarijuanaexchangedirectory', 'job')|escape:'html'}?view={$job.id_jobs}">
			<div class="row rowjobslistt"  style="position: relative;    border: 1px solid #000000;"> 
				{if $job.featurecustomer == 1}
				<img  style="   position: absolute;height: 86px;right: -6px;top: -6px;" src="{$img_dir}fea.png">
				{/if}
				
				<div class="col-md-12">

				<h5 class="tittle">{$job.tittle}</h5>
				<p style="text-align: justify;">{$job.description}</p>
				
				<p>
					<span style="font-weight: 600!important;color: black;">{$job.statename} ({$job.state}), {$job.cityname} </span>
					<span style="float:right;"></span>
				</p>
				
				</div>
			</div>
		</a>
		</div>
		
		{/foreach}

		{if $jobs_success}
			{foreach $jobs_list item=job}
				<div class="jobslistrow linhajob">
					<a href="{$job->url}" target="_blank">
						<div class="row rowjobslistt"  style="position: relative;    border: 1px solid #000000;"> 
							
							<img  style="float: left; margin:0 10px;" src="{$job->logo}">
					
							
							<div class="col-md-12">

							<h5 class="tittle">{$job->name}</h5>
							<p style="text-align: justify;">{$job->snippet}</p>
							
							<p>
								<span style="font-weight: 600!important;color: black;">{$job->location}</span>
								<span style="float:right;"></span>
							</p>
							
							</div>
						</div>
					</a>
				</div>
			{/foreach}
		{/if}
		<div id="compact-pagination" class="pagination"></div>
		
	</div>


	
	<div class="col-md-4">
		<h4 style="margin-top: 18px;">Notify me of new jobs:</h4>
		<form method="post" id="formm" action="#">		
			<div class="form-group">
				<label>Email</label>
				<input type="email" value="" name="email_not" class="form-control" required >
			</div>
			
			
			<div class="form-group">
				<label>Country:</label>
					<select  name="country"  class="form-control countryselect">
						<option value="1">USA</option>
						<option value="2">CANADA</option>
					</select>
			</div>
			
			<div class="form-group" >
				<label>State</label>
				<select name="state" class="form-control stateselect">
				  {foreach $states item=state}
				  <option country="{$state.country}" value="{$state.state_code}" 
				  {if isset($statename)}
				  {if $statename == $state.state}
				  selected="selected"
				  {/if}
				  {/if}
				  >{$state.state}</option>
				  {/foreach}
				</select>
			</div>
			
			
			
			<div class="form-group  citihide"  style="display:none">
			    <label>City</label>
				<select name="citie" class="form-control cityselect">
				 
				  <option value="" ></option>
				
				</select>
			</div>
			
			
			
			
			<input type="hidden"  name="formm" >
			<input type="submit"  class="button">
		</form>
	</div>
</div>




<style>
#compact-pagination{
	display: flex;
    justify-content: center;
    margin-top: 30px;
}
.linhajob:hover {
    background: #f1f1f1;
}
h5.tittle {
    color: #5cb85c;
    font-weight: 800!important;
    text-decoration: underline;
    font-size: 15px;
    text-transform: capitalize;
}
#left_column{
	display: none;
}
.breadcrumb {
    display: none;
}
.jobslistrow {
    margin: 0px 0 24px;
    padding: 0 0 0px;
    font-size: 14px;
    color: #666666;
    line-height: 20px;
    
}

</style>
<script type="text/javascript">
	var url = window.location.href;
</script>
{if $is_serch}
	<script type="text/javascript">
		var href_end = '?p=';	
	</script>

	{if $get_p}
		<script type="text/javascript">
			
			var url = url.slice(0, url.lastIndexOf('?'));
		</script>
	{/if}
{else}
	<script type="text/javascript">
		var href_end = '&p=';	
	</script>
	{if $get_p}
		<script type="text/javascript">
		
			var url = url.slice(0, url.lastIndexOf('&'));
		</script>
	{/if}
{/if}

<script>
$(function() {
    $('#compact-pagination').pagination({
        items: {$jobs_total}-{$page_diff_val},
        itemsOnPage: 15,
        currentPage:{$page_number},
        hrefTextPrefix: url+href_end,
        cssStyle: 'light-theme'
    });
});

$(document).ready(function(){
	$("li[licountry=US]").show();
	$("li[licountry=CA]").hide();
})

$('.countryselect').change(function(){
	//alert(    $(this).val()   )
	if ($(this).val() == 1 ){
		$(".stateselect option[country=CA]").hide();
		$(".stateselect option[country=US]").show();
		$(".stateselect").val($(".stateselect option[country=US]:first").val());
	}else{
		$(".stateselect option[country=US]").hide();
		$(".stateselect option[country=CA]").show();
		$(".stateselect").val($(".stateselect option[country=CA]:first").val());
	}

		$.uniform.update();
		whatstate = $('.stateselect').val();
		$.ajax({
           type: "POST",
           url: '#',
           data:'ajaxcitiestonotify='+whatstate, // serializes the form's elements.
           success: function(data)
           {
              // alert(data); // show response from the php script.
			  $('.citihide').show();
			  $('.cityselect').empty();

			   $('.cityselect').append('<option class="citiess" value="all">All</option>');

			   $('.cityselect').append(data);
			   $.uniform.update();

           }
         });
});




$(document).ready(function(){

$('#center_column').removeClass('col-sm-9');
$('#center_column').addClass('col-sm-12');


whatstate = $('.stateselect').val();
		$.ajax({
           type: "POST",
           url: '#',
           data:'ajaxcitiestonotify='+whatstate, // serializes the form's elements.
           success: function(data)
           {
              // alert(data); // show response from the php script.
			  $('.citihide').show();
			  $('.cityselect').empty();

			   $('.cityselect').append('<option class="citiess" value="all">All</option>');
			   $('.cityselect').append(data);
			   $.uniform.update();

           }
         });










$('.stateselect').change(function() {
  whatstate = $(this).val();
		$.ajax({
           type: "POST",
           url: '#',
           data:'ajaxcitiestonotify='+whatstate, // serializes the form's elements.
           success: function(data)
           {
              // alert(data); // show response from the php script.
			  $('.citihide').show();
			  $('.cityselect').empty();
			  
			  $('.cityselect').append('<option class="citiess" value="all">All</option>');
			   $('.cityselect').append(data);
			   $.uniform.update();

           }
         });

return false;
})


$("#formm").submit(function() {

    var url = "#"; // the script where you handle the form input.

    $.ajax({
           type: "POST",
           url: url,
           data: $("#formm").serialize(), // serializes the form's elements.
           success: function(data)
           {
               alert(data); // show response from the php script.
           }
         });

    return false; // avoid to execute the actual submit of the form.
});












});
</script>
