<div class="block_content">
	<ul class="my_store_list">
		<li>
			<a href="/mystore">Memberships</a>
		</li>
		<li>
			<a href="/directory-manager">Directory</a>
		</li>
		<li>
			<a href="/store-options">Store Options</a>
		</li>
		<li>
			<a href="/advertising-manager">Advertising Manager</a>
		</li>
		<li>
			<a href="/my-products">Products</a>
		</li>
		<li>
			<a href="/my-jobs">List Jobs</a>
		</li>
		<li>
			<a href="/points-system">Buy Advertising Tokens</a>
		</li>
		<li>
			<a href="/my-orders">Orders</a>
		</li>
	</ul>
</div>