
<div class="allmystore">
	<div class="container">
		<h2 class="toggle_title">Memberships</h2>
		<div class="toggle_arrea">
				
				{if $active_subscription == 0}
				<p class="alert alert-danger">
				Your products are not visible in store. Please purchase a subscription.
				<a style="    position: absolute; right: 24px; top: 8px;" class="button" href="{$link->getModuleLink('medicalmarijuanaexchangedirectory', 'premium')}">Buy now.<a>
				</p>
				<div style="border: 1px solid #d6d4d4;padding: 15px;">
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
					<span style="margin:0;">You have free <b style="font-weight:800">Basic Membership</b></span>
				</div>
				{else}
				<div style="border: 1px solid #d6d4d4;padding: 15px;">
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
					<span style="margin:0;">You have <b style="font-weight:800">{$premname}</b> from <b>{$subescription_data["date_add"]}</b> to <b>{$subescription_data["date_end"]}</b></span>
				</div>
				{/if}
		</div>
	</div>

	{* {literal}
<script type="text/javascript">
		 $.ajax({
	        url: "/Directoryaddp",
	        type: "get",
	        data: {csv2: 1, step: 0},
	        dataType: 'json',
	        success: function (response) {
	        	
	        	if (response <= 4366) {

	        		create_zip(response);

	        	}else{

	        		alert('last')
	        	}
	   
	        },
	        error: function(jqXHR, textStatus, errorThrown) {
	        	$('.loading_img').hide();
	        	alert(0);
	           console.log(textStatus, errorThrown);
	        }

	    });

		 function create_zip(data){


		  $.ajax({
	        url: "/Directoryaddp",
	        type: "get",
	        data: {csv2: 1, step: data},
	        dataType: 'json',
	        success: function (response) {
	        	
	        	if (response <= 4366) {

	        		create_zip(response);

	        	}else{

	        		alert('last')
	        	}
	   
	        },
	        error: function(jqXHR, textStatus, errorThrown) {
	        	$('.loading_img').hide();
	        	alert(0);
	           console.log(textStatus, errorThrown);
	        }

	    });
	}
		</script>



{/literal} *}

 {*{literal}
<script type="text/javascript">
		 $.ajax({
	        url: "/Directoryaddp",
	        type: "get",
	        data: {csv: 1, step: 424},
	        dataType: 'json',
	        success: function (response) {
	        	
	        	if (response <= 1138) {

	        		create_zip(response);

	        	}else{

	        		alert('last')
	        	}
	   
	        },
	        error: function(jqXHR, textStatus, errorThrown) {
	        	$('.loading_img').hide();
	        	alert(0);
	           console.log(textStatus, errorThrown);
	        }

	    });

		 function create_zip(data){


		  $.ajax({
	        url: "/Directoryaddp",
	        type: "get",
	        data: {csv: 1, step: data},
	        dataType: 'json',
	        success: function (response) {
	        	
	        	if (response <= 1138) {

	        		create_zip(response);

	        	}else{

	        		alert('last')
	        	}
	   
	        },
	        error: function(jqXHR, textStatus, errorThrown) {
	        	$('.loading_img').hide();
	        	alert(0);
	           console.log(textStatus, errorThrown);
	        }

	    });
	}
		</script>



{/literal}*}

{* {literal}
<script type="text/javascript">
		 $.ajax({
	        url: "/Directoryaddp",
	        type: "get",
	        data: {cat: 1, step: 0},
	        dataType: 'json',
	        success: function (response) {
	        	
	        	if (response <= 6000) {

	        		create_zip(response);

	        	}else{

	        		alert('last')
	        	}
	   
	        },
	        error: function(jqXHR, textStatus, errorThrown) {
	        	$('.loading_img').hide();
	        	alert(0);
	           console.log(textStatus, errorThrown);
	        }

	    });

		 function create_zip(data){


		  $.ajax({
	        url: "/Directoryaddp",
	        type: "get",
	        data: {cat: 1, step: data},
	        dataType: 'json',
	        success: function (response) {
	        	
	        	if (response <= 6000) {

	        		create_zip(response);

	        	}else{

	        		alert('last')
	        	}
	   
	        },
	        error: function(jqXHR, textStatus, errorThrown) {
	        	$('.loading_img').hide();
	        	alert(0);
	           console.log(textStatus, errorThrown);
	        }

	    });
	}
		</script>



{/literal}  *}


<script>
/*
$(document).ready(function(){
$('#left_column').remove();
$('#center_column').removeClass('col-sm-9');
$('#center_column').addClass('col-sm-12');
});*/

$('.removepro').click(function(){
removewhat = $(this).attr('removepro');
//alert(removewhat);

remove_obj = $(this);
if (confirm('Are you sure?')) {
    var url = "#"; // the script where you handle the form input.

    $.ajax({
           type: "POST",
           url: url,
           data: 'deletepro='+removewhat, // serializes the form's elements.
           success: function(data)
           {
               //alert(data); // show response from the php script.
			   if (data != 'error'){
				 $(remove_obj).parent().parent().remove();
			   }else{
				alert(data);
			   }
			   
			   //$("[idpicture='"+data+"']").parent().hide('slow', function(){ $("[idpicture='"+data+"']").remove(); });
           }
         });

    return false; // avoid to execute the actual submit of the form.
}





})





//remove JOBS	
$('.removejobs').click(function(){	
removej = $(this).attr('removej');
if (confirm('Are you sure?')) {
    var url = "#"; // the script where you handle the form input.

    $.ajax({
           type: "POST",
           url: url,
           data: 'deletejob='+removej, // serializes the form's elements.
           success: function(data)
           {
             location.reload();
           }
         });

    return false; // avoid to execute the actual submit of the form.
}
})	


</script>
</div>
{* Softsprint Uliana *}
<script type="text/javascript">
	$(".no_subscriptions_jobs").off("click").on("click", function(e) {
  	    e.preventDefault();
  		$(".alert-danger-jobs").show();
		return false;
	});

	$('.toggle_title').click(function(){	
		$(this).parent('.container').find('.toggle_arrea').toggle();

	});
</script>
