
<div class="container">
	<h2 class="toggle_title">Buy Advertising Tokens</h2>
	<div class="toggle_arrea">

			
			{* {if $sellersubsok == 0}
			<p class="alert alert-danger">
			Your products are not visible in store. Please purchase a subscription.
			<a style="    position: absolute; right: 24px; top: 8px;" class="button" href="{$link->getModuleLink('medicalmarijuanaexchangedirectory', 'premium')}">Buy now.<a>
			</p>
			{/if} *}
			
			<div style="    border: 1px solid #d6d4d4;padding: 15px;">
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
			<span style="margin:0;">You have <b style="font-weight:800">{$points}</b> points</span>
			<span style="margin-top: -6px;float:right;"><a href="{$link->getProductLink(81)}" class="btn btn-primary">Buy points.</a></span>
			</div>
	</div>
</div>