
{capture name=path}
	<span class="navigation_page">Stock Profile</span>
{/capture}
<div class="single_quote">
<iframe frameBorder='0' scrolling='no' width='500' height='110' src='https://api.stockdio.com/visualization/financial/charts/v1/SingleQuote?app-key=9F294CB158A94C73B7D84E38BC128E54&stockExchange={$exchange}&symbol={$symbol}&includeDateTime=true&showCurrency=true&palette=Financial-Light&template=207e1b43-20bf-4185-b9e0-d78c1aa3a2f2'></iframe>

<iframe class="search-block" id="iframe" frameborder="0" scrolling="no" width="50%" height="60" style="z-index:9999;" src="https://api.stockdio.com/visualization/financial/charts/v1/SymbolSearch?app-key=9F294CB158A94C73B7D84E38BC128E54&amp;palette=financial-light&amp;height=60&amp;width=100%&amp;linkUrl=https://mme.world/stockprofile?exchange={literal}{exchange}%26symbol={symbol}{/literal}&amp;linkTarget=self&amp;template=717094cf-af6d-4d38-8eb9-12f02b311c0b&amp;OnLoad=iframe&amp;transparent=true&amp;stockExchange=nysenasdaq"></iframe>
</div>
<div class="left_width">
	<h4>HISTORiCAL PRICE</h4>
	<iframe frameBorder='0' scrolling='no' width='95%' height='420' src='https://api.stockdio.com/visualization/financial/charts/v1/HistoricalPrices?app-key=9F294CB158A94C73B7D84E38BC128E54&stockExchange={$exchange}&symbol={$symbol}&dividends=true&splits=true&showBorderAndTitle=false&palette=Financial-Light'></iframe>

	<script>
   if (typeof(stockdio_events) == "undefined") {
      stockdio_events = true;
      var stockdio_eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
      var stockdio_eventer = window[stockdio_eventMethod];
      var stockdio_messageEvent = stockdio_eventMethod == "attachEvent" ? "onmessage" : "message";
      stockdio_eventer(stockdio_messageEvent, function (e) {
         if (typeof(e.data) != "undefined" && typeof(e.data.method) != "undefined") {
            eval(e.data.method);
         }
      },false);
   }
</script>
<div class="single_stock_news">
	<iframe id='st_4aa1506a638548c686111e0cf3896c05' frameBorder='0' scrolling='no' width='95%' height='100%' src='https://api.stockdio.com/visualization/financial/charts/v1/News?app-key=9F294CB158A94C73B7D84E38BC128E54&stockExchange={$exchange}&symbol={$symbol}&palette=Financial-Light&title=News&onload=st_4aa1506a638548c686111e0cf3896c05'></iframe>
</div>
</div>

<div class="right_width">
<iframe id="relatedcompanies" frameborder="0" scrolling="no" width="100%" height="268" src="https://api.stockdio.com/visualization/financial/charts/v1/QuoteBoard?stockExchange={$exchange}&amp;symbol={$symbol}&amp;presetlist=related_indices&amp;limit=6&amp;palette=Financial-Light&amp;width=100%25&amp;height=auto&amp;onlink=true&amp;onload=iframemarkets&amp;template=2451116a-1563-4a96-be20-60554d6748ba&amp;&app-key=9F294CB158A94C73B7D84E38BC128E54"></iframe>


<div class="single_stock_news">
<iframe id="companyprofile" frameborder="0" scrolling="no" width="100%" height="98" src="https://api.stockdio.com/visualization/financial/charts/v1/CompanyProfile?app-key=9F294CB158A94C73B7D84E38BC128E54&amp;stockExchange={$exchange}&symbol={$symbol}&amp;includeImage=false&amp;palette=Financial-Light&amp;onload=companyprofile" style="height: 98px; display: inline;"></iframe>
</div>
{include file="$includedir/financial_right_banner.tpl"}
</div>

<script type="text/javascript">
	var $head = $("#relatedcompanies").contents().find("head");                
	$head.append('<style type="text/css">.sq_company a{literal}{font-size: 12px;}{/literal}</style>');
</script>

