<iframe id="video-frame-{$banner.id_banner}" src="https://mme.world/modules/medicalmarijuanaexchangedirectory/v.php?n={$banner.banner_img}&s={$banner.size}&h=350&id={$banner.id_banner}&c=1&p={$banner.autoplay|intval}&m=0&loop={$banner.banner_loop|intval}&v={time()}" onload="onloadFrame{$banner.id_banner};" style="width: 350px; min-height: 205px" height="" allow="autoplay; fullscreen; speaker"></iframe>
<script type="text/javascript">
	function onloadFrame{$banner.id_banner} () {
		var _frame=document.getElementById('video-frame-{$banner.id_banner}');
		_frame.style.height=(_frame.contentWindow.document.getElementById('main-container').scrollHeight+10)+'px';
	}
	$(function(){
		$("#m-somebutton").trigger('click');
	});
</script>