#productscategory_list .product-name {
  margin-bottom: 5px; }
  #productscategory_list .product-name a {
    font-size: 18px;
    line-height: 23px;
    color: #474646;
    font-family: Futura PT Book;
    text-transform: uppercase; }
    #productscategory_list .product-name a:hover {
      color: #515151; }
#productscategory_list .exclusive span {
  font-size: 13px;
  line-height: 18px;
  padding: 2px 8px 3px;
  text-decoration: none; }
  #productscategory_list .exclusive span:focus, #productscategory_list .exclusive span:active {
    text-decoration: none; }

#productscategory_list .price_display span {
  font-family: 'Baskerville';
  line-height: 23px;
      font-size: 20px !important;
  color: #474646;
}
#productscategory_list .product-box .product-image {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #084121;
  border-bottom-width: 2px;
  height: auto;
}

/*# sourceMappingURL=productscategory.css.map */
