/*======================*/

.bussines_link {
    line-height: 27px;
    font-size: 15px;
    margin-left: 30px;
    float: right;
    margin-top: 15px;
}
.serresult{
  width: 300px;
}
.changelocalizationinput {
  width: 130px;
}
.header_user_info .account{
  margin-left: 30px;
  color: #8c8383;
  font-size: 16px;
  font-family: Futura PT Book;
}
.header_user_info .logout{
  color: #474646;
  font-size: 16px;
  margin-left: 10px;
 font-family: Futura PT Book;
 font-weight: 600;
}
.header_user_info .login{
  margin-left: 30px;
  color: #8c8383;
  font-size: 16px;
  font-family: Futura PT Book;
  font-weight: 600;
}
.header_top_right{
  margin-top: 15px;
}
/*=====================*/

#search_block_top {
  width: 400px;
  float: right;
  margin-top: 15px;
}
  #search_block_top #searchbox {
    float: left;
    width: 100%; }
  #search_block_top .btn.button-search {
    background: transparent;
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    border: none;
    color: #b0abab;
    width: 20px;
    text-align: left;
    padding: 0;
  }
  #search_query_top::-webkit-input-placeholder {color:#b0abab;}
  #search_query_top::-moz-placeholder          {color:#b0abab;}
  #search_query_top:-moz-placeholder           {color:#b0abab;}
  #search_query_top:-ms-input-placeholder      {color:#b0abab;}
    #search_block_top .btn.button-search span {
      display: none; }
    /*#search_block_top .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 17px;
      width: 100%;
      text-align: center; }*/
    #search_block_top .btn.button-search:hover {
      color: #6f6f6f; }
  #search_block_top #search_query_top {
      height: 27px;
      border: none;
      border-bottom: 1px solid #838080;
      padding-left: 20px;
      outline: none;
      width: 100%;
  }

.ac_results {
  background: #fff;
  border: 1px solid #d6d4d4;
  width: 271px;
  margin-top: -1px; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: #fff; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }

/*# sourceMappingURL=blocksearch.css.map */
