@CHARSET "utf-8";

.margin-left-5{margin-left:5px}
.pages { height:15px; font-size:100%; margin-top:20px; line-height:1.2em;text-align:center }
.pages span, .pages b, .pages a { font-weight:bold; }
.pages a{color:#fff}
.pages span { padding:1px 8px 2px 0; }
.pages span.nums { padding:0 10px 0 5px; }
.pages span.nums b, .pages span.nums a { padding:0px 4px 1px; background:#ccc; text-decoration:none; margin-right:4px; }
.pages span.nums a:hover { background: #F7B900; color:#fff; }
.pages span.nums b { color:#fff; background:#F7B900}

.blocknewsadv-list .left_side{width: 100%}
.blocknewsadv-list h3 a{line-height:1.2em}
.blocknewsadv-list .item-more{font-size:11px;text-decoration:underline;}
.blocknewsadv-time{font-size:11px!important;color:#5D717E!important}
	
	
.blocnewsadv-header{background: none repeat scroll 0 0 #F0F0F0;color: #000000;font-size: 12px;margin: 15px 0 10px;padding: 8px 7px;}
.blocnewsadv-noitems{padding:10px;text-align:center;font-weight:bold;border:1px solid #EEEEEE}

.blocnewsadv-view-all{margin:10px auto 0px auto;text-align:center}
.block-items-data td a{background:none!important;padding:5px!important}
.blocknewsadv-date{padding:0 5px 5px 5px;font-size:11px!important}
.block-last-blocknewsadvs h4{text-align:center}
.items-last-blocknewsadvs table td a{background:none!important;padding:5px!important}
.blocknewsadv-title-and-content{padding:5px 5px 5px 0}
.blocknewsadv-block-noitems{padding:10px;text-align:center;border:1px solid #EEEEEE}




ul#manufacturers_list {list-style-type:none}
ul#manufacturers_list li {
    margin-bottom: 14px;
    padding: 12px 8px;

}
ul#manufacturers_list li a.lnk_img {
    display: block;
    float: left;
}
ul#manufacturers_list li img {
    display: block;
    float: left;
    margin-right: 14px;
    border: 1px solid #ccc;
    vertical-align: bottom
}
ul#manufacturers_list li h3 {
    padding: 0 0 10px;
    font-size: 18px;
    color: #000
}
ul#manufacturers_list li .description {
    overflow: hidden;
    padding: 0;
    font-size:14px;
    color:#666
}
ul#manufacturers_list li .right_side {float:right;}





.news-block-item{
	border: 1px solid #eee;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
    margin-top:10px;
}


/** related products **/

.news-block-item .rel-products-block{
	padding:20px 20px 20px 20px;
	border-top: 1px solid #eee;
}

.news-block-item .related-products-title{
	font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.news-block-item .rel-products-block li {
    border: 1px solid #d6d4d4;
    float: left;
    margin: 5px;
    padding: 10px;
    width: 30%;
    list-style: none outside none;
    min-height:120px
}

.news-block-item .rel-products-block li.li14-list{
	width:27%!important;
	min-height:170px!important;
}

.news-block-item .rel-products-block li .products-block-image {
    border: 1px solid #d6d4d4;
    float: left;
    margin-right: 19px;
    margin-bottom:5px;
}


.news-block-item .rel-products-block li .products-block-image img{
    display: block;
    height: auto;
    max-width: 100%;
}

.news-block-item .rel-products-block li .products-block-image14{
    border: 1px solid #d6d4d4;
    float: left;
    margin-right: 5px;
    margin-bottom:5px;
}

.news-block-item .rel-products-block li .product-content {
    overflow: hidden;
    height:80px
}

.news-block-item .rel-products-block li .product-content h5 {
    margin: -3px 0 0;
}

.news-block-item .rel-products-block .product-description {
    margin-bottom: 14px;
    padding-bottom:0px!important;
    font-size:11px
}

.news-block-item .rel-products-block .product-name {
    font-size: 12px;
    line-height: 18px;
}

/** related products **/






/* related posts */
.rel-posts-block{padding:20px}

.news-block-item .related-posts-title{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}


.other-posts {
    margin-bottom: 10px;
}


.other-posts ul li,.other-posts ul{list-style: none!important;}

.other-posts .b-title .other-posts-title {
    font-size: 18px;
    font-weight: 100;
}

.other-posts .block-top {
    text-align: center;
}


.other-posts .block-content a {
    color: #069;
    line-height: 1.25;
    font-weight: 100;
    font-size: 14px;
}

.other-posts .block-footer {
    margin-top: 10px;
}

.other-posts .block-footer time,
.other-posts .block-footer
span {
    color: #666;
}

.other-posts .block-footer
a {
    color: #069;
    text-decoration: none;
}
/* related posts */


.blockmanufacturer16 h4{margin:0px!important}



/** NEW CSS */

/* BOOTSTRAP */
.row-custom{margin-left:0px;margin-right: 0px}
.col-sm-4-custom{width:33.3333%}
.col-sm-4-custom{
    float:left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.news-block-item img.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
    /*max-width: 43%;
    min-width: 43%;
    float: left;
    margin:20px;*/
}
.item-page .body-post{
    clear: right;
    padding-top: 15px;
    font-size: 18px;
    color: #333;
    line-height: 1.75;
}
@media (max-width: 500px) {
.news-block-item img.img-responsive {
    max-width: 100%;
    min-width: 100%;
    float: none;
    margin: 0;
    margin-bottom: 20px;
}
}
/* BOOTSTRAP */

.margin-left-10{margin-left:10px}

.blocknewsadv-float-left{float:left}
.blocknewsadv-float-right{float:right}
.blocknewsadv-clear, .clear{clear:both}

.float-left{float:left!important}
.float-right{float:right!important}
.clr {
    clear: both;
    display: block;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.block-no-items{padding:10px}
.block-view-all{margin-top:10px;text-align:center}
.margin-top-10{margin-top:10px}
.display-none{display: none}
.text-align-center{text-align: center!important;}


/* latest items block */


.items-articles-block {
    padding: 0px 5px;
}

.items-articles-block .current-item-block {
    padding: 7px 0px;
}

.items-articles-block .current-item-block .item-article {
   font-family: Baskerville;
    color: #FFFFFF;
    line-height: 25px;
    font-size: 23px;
    min-height: 50px;
    display: inline;
}

.items-articles-block .current-item-block  .item-text-content{
    margin-top:10px;

}

.items-articles-block .current-item-block a.item-article:hover {
    text-decoration: underline;
}

.items-articles-block .current-item-block .item-comm {
    font-size: 14px;
    line-height: 1.3em;
    text-decoration: none;
}

.items-articles-block .current-item-block a.item-comm:hover {
    text-decoration: none;
}

.block-item-like, .block-item-date {

}


.block-item-like a {
    text-decoration: none;
    font-size: 12px;
}

.block-item-like a:hover {
    text-decoration: none;
}

.block-side {
    /*float: left;
    margin-right: 15px;*/
    width: 100%;
    text-align: center;
    position: relative;
}
.block-side img{
    width: 100%;
    text-align: center;
    position: relative;
}
.block-side_title{
    position: absolute;
    bottom: 0;
    background: rgba(5, 5, 5, 0.74);
    font-family: Baskerville;
    font-size: 14px;
    color: #ffffff;
    padding: 10px;

}
#blocknewsadvnews_block_left .current-item-block{
    margin-bottom: 20px;
}
.left_view_all{
    width: 170px;
    height: 40px;
    background-color: #59b849;
    font-family: Futura PT;
    font-size: 18px;
    color: #ffffff;
    display: block;
    margin: auto;
    line-height: 40px;
}
/* latest items block */

/** search and archives blocks */

.search_items input.search_text{width:120px;float:left;margin-top:5px}
.search_items input.search_go{float:left;margin-top:5px}
.search_items form{margin:0px}
.search_items h4.title_block {margin-bottom:0px}
.search_items .block_content{background:none repeat scroll 0 0 #EEEEEE;padding:5px}
.search_items .block_content17{padding:5px}
.arch-subitem{font-weight:normal;background:none!important}
.arch-category{font-weight:bold;background:none!important}
.arch-subcat{background:none!important}

.blockmanufacturer16 li, .blockmanufacturer16-footer li{border-bottom: 0px dotted #CCCCCC;}

.blockmanufacturer16-footer li, .blockmanufacturer16 li{padding:7px 0}
.blockmanufacturer16-footer li a, .blockmanufacturer16 li a{padding: 7px 11px 5px 22px;}



/** search and archives blocks */

/* footer block */
.footer-block-class-first{margin-left:10px}
.footer-block-class-last{float:left}
.footer-block-class{float:left;margin-right:10px;}
/* footer block */


/* item page */


.item-page{
    padding:10px 20px
}

.item-page .image{
    margin-bottom:20px;
    text-align:center;
}

.item-page  .image{
    margin:20px 0px;
}
.item-page .top-item{
    /* margin:20px 0; */
}
.item-page .top-item h1{
    font-size: 18px;
    font-weight:100;
    color: #333;
    line-height: 1.75;

}
.item-page .top-item p{
    font-size:13px;
}

.item-page .top-item p .posted_in{
    text-decoration: underline;
    text-transform: uppercase;
}


/* f comments */
.fcomment-title {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin-top:20px;
    margin-bottom: 0px;
    margin-left: 20px;
}
.fcomment-content{
    margin:0 20px 20px 20px;
}
/* f comments */



.button-small-blocknewsadv {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #6f6f6f none repeat scroll 0 0;
    border-color: #666666 #5f5f5f #292929;
    border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    color: #fff!important;
    font: bold 13px/17px Arial,Helvetica,sans-serif;
    padding: 3px 8px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
}



.button-mini-blocknewsadv{
    color: #fff;
    background-color: #2fb5d2;
    border-color: transparent;

    position: relative;
    display: inline-block;
    padding: 5px 7px;
    font-weight: bold;
    cursor: pointer;
    white-space: normal;
    text-align: left;
}

.search-blocknewsadv17{
    border: none;
    padding: 10px;
    background: #ebebeb;
    color: #acaaa6;
    width: 150px;
}


ul#manufacturers_list li {
    margin-bottom: 0;
    padding: 12px 8px;
}

li.col-sm-6.blogmax {
    min-height: 490px;
}

ul#manufacturers_list li {
    margin-bottom: 0;
    padding: 0px 8px;
}


.body-post img {
    max-width: 100%;
}