
/* bootstrap */

.col-sm-4-custom{
    float:left;
    min-height: 1px;
    padding-left: 0px!important;
    padding-right: 0px!important;
    position: relative;
}


.item-page .top-item h1{
    background: none!important;
    height: auto!important;
}








