<h3 class="tittleblogpostbig">{$story.title}</h3>

<div class="parentimgblogpostbig">
	<img class="imgblogpostbig" src="/modules/medicalmarijuanaexchangedirectory/storyimg/{$story.image}">		
</div>
<div class="row">
	<div class="col-md-12 commentbodyblogB">{$story.description}</div>
</div>

 <div class="blog_ss_story">
	<div class="blog_ss_title">Sponsored stories</div>
	<div class="row">
		{foreach $rand_keys item=key}
			<div class="ss_single_story col-md-4 col-sm-4">
				<a href="/sponsored-story?id={$stories.$key.id_sponsoredstories}">
					<div class="ss_storyimg">
						<img src="/modules/medicalmarijuanaexchangedirectory/storyimg/{$stories.$key.image}">
					</div>
					<div class="blog_story_title">{$stories.$key.title}</div>
				</a>
			</div>
		{/foreach}
	</div>
</div>