{capture name=path}
<span class="navigation_page">Edit Store information</span>
{/capture}

<h1></h1>
<form action="#" class="form-horizontal" method="post" enctype="multipart/form-data">
  <h2 class="h1sub">About Us<h2>
	<div class="form-group">
		
		<label class="control-label col-sm-2 labelx" >Logo</label>
		<div class="col-sm-10" style="display: flex; flex-direction: column;"> 
		<p style="font-size: 15px; margin: 5px 0;">(recomended size of image 134x134px)</p>
		{if $cust.logopic}
			<img src="{$img_ps_dir}/cust/{$cust.logopic}"  style="width: 125px;border: 1px solid;">
		{else}
			<img src="{$img_ps_dir}/cust/placeholder.png"  style="width: 125px;border: 1px solid;">
		{/if}
		</div>
	</div>


	<div class="form-group">
		<label class="control-label col-sm-2 labelx" >Upload Logo</label>
		<div class="col-sm-10"> 
		  <input type="file" name="logopic" value="{$cust.logopic}" class="form-control">
		</div>
	</div>
	
	<div class="form-group">
		<label class="control-label col-sm-2 labelx" >Background</label>
		<div class="col-sm-10"> 
		  <select name="background" class="store_bg">
		  	<option value="white" {if $cust.background_value == 'white'}selected="selected"{/if}>White</option>
  			<option value="black" {if $cust.background_value == 'black'}selected="selected"{/if}>Black</option>
  			<option value="marijuana" {if $cust.background_value == 'marijuana'}selected="selected"{/if}>Marijuana Plant</option>
  			<option value="own" {if $cust.background_value == 'own'}selected="selected"{/if}>Upload Own</option>
		  </select>
		  {if $cust.background_value == 'own'}
		  <img class="store_bg_img"src="/img/cust/{$cust.background_image}">
		  {/if}
		  
		  <img class="store_bg_img default_bg" src="/themes/default-bootstrap/img/mme_bg.jpg" {if $cust.background_value == 'marijuana'} style="display:block" {else} style="display:none" {/if}>
		</div>
		<div class="control-label col-sm-2 labelx"></div>
		<div class="col-sm-10 own_bg"> 
			<span class="size_info">(recomended size of image 1170x300px)</span>
		  <input type="file" name="own_bg" value="{$cust.ownbg}" class="form-control">
		</div>
	</div>
	
	<div class="form-group">
		<label class="control-label col-sm-2 labelx" >Name</label>
		<div class="col-sm-10"> 
		  <input type="text" name="name" value="{$cust.name}" class="form-control">
		</div>
	</div>
  
  {*<div class="form-group">
    <label class="control-label col-sm-2" for="announcement">Announcement:</label>
    <div class="col-sm-10">
      <textarea rows="7" class="form-control" name="announcement" id="announcement" >{$cust.announcement}</textarea>
    </div>
  </div>*}

  <div class="form-group">
    <label class="control-label col-sm-2" for="aboutus">About Us</label>
    <div class="col-sm-10">
      <textarea rows="7" class="form-control autoload_rte" name="aboutus" id="aboutus" >{$cust.aboutus}</textarea>
    </div>
  </div>
  
  
  <h2 class="h1sub">Hours of Operation<h2>
	 <div class="form-group">
		<label class="control-label col-sm-2 labelx" >Sunday:</label>
		<div class="col-sm-10"> 
		  <input type="text" name="day1" value="{if $cust.day1 == ''}0:00am - 0:00pm{else}{$cust.day1}{/if}" class="form-control">
		</div>
	 </div>
	<div class="form-group">
		<label class="control-label col-sm-2 labelx" >Monday:</label>
		<div class="col-sm-10"> 
		  <input type="text" name="day2" value="{if $cust.day2 == ''}0:00am - 0:00pm{else}{$cust.day2}{/if}" class="form-control">
		</div>
	</div>
	 <div class="form-group">
		<label class="control-label col-sm-2 labelx" >Tuesday:</label>
		<div class="col-sm-10"> 
		  <input type="text" name="day3" value="{if $cust.day3 == ''}0:00am - 0:00pm{else}{$cust.day3}{/if}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2 labelx" >Wednesday:</label>
		<div class="col-sm-10"> 
		  <input type="text" name="day4" value="{if $cust.day4 == ''}0:00am - 0:00pm{else}{$cust.day4}{/if}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2 labelx" >Thursday:</label>
		<div class="col-sm-10"> 
		  <input type="text" name="day5" value="{if $cust.day5 == ''}0:00am - 0:00pm{else}{$cust.day5}{/if}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2 labelx" >Friday:</label>
		<div class="col-sm-10"> 
		  <input type="text" name="day6" value="{if $cust.day6 == ''}0:00am - 0:00pm{else}{$cust.day6}{/if}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2 labelx" >Saturday:</label>
		<div class="col-sm-10"> 
		  <input type="text" name="day7" value="{if $cust.day7 == ''}0:00am - 0:00pm{else}{$cust.day7}{/if}" class="form-control">
		</div>
	</div>
	
	
	
	<!--about us-->
	<h2 class="h1sub">Contact information<h2>
	
	
	
	<div class="form-group">
		<label class="control-label col-sm-2" >Address</label>
		<div class="col-sm-10">
			<textarea rows="7" class="form-control" name="address"  >{$cust.address}</textarea>
		</div>
    </div>
	<div class="form-group">
		<label class="control-label col-sm-2 labelx" >Phone</label>
		<div class="col-sm-10"> 
		  <input type="text" name="phone" value="{$cust.phone}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2 labelx" >Email</label>
		<div class="col-sm-10"> 
		  <input type="mail" name="emailse" value="{$cust.emailse}" class="form-control">
		</div>
	</div>
	
	<div class="form-group">
		<label class="control-label col-sm-2 labelx" >Facebook</label>
		<div class="col-sm-10"> 
		  <input type="text" name="facebook" value="{$cust.facebook}" class="form-control">
		</div>
	</div>
	
	<div class="form-group">
		<label class="control-label col-sm-2 labelx" >Twitter</label>
		<div class="col-sm-10"> 
		  <input type="text" name="twitter" value="{$cust.twitter}" class="form-control">
		</div>
	</div>
	
	<div class="form-group">
		<label class="control-label col-sm-2 labelx" >Pinterest</label>
		<div class="col-sm-10"> 
		  <input type="text" name="instagram" value="{$cust.instagram}" class="form-control">
		</div>
	</div>
	
	<div class="form-group">
		<label class="control-label col-sm-2 labelx" >Website</label>
		<div class="col-sm-10"> 
		  <input type="text" name="website2" value="{$cust.website2}" class="form-control">
		</div>
	</div>
	
	

	
	
	
	
	
  

  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" name="submiteeditcu" class="btn btn-default">Submit</button>
    </div>
  </div>
  
  
  
</form>





<!-- videos -->

<div class="form-group"> 
<label class="control-label col-sm-2 labelx" >Videos</label>
<div class="videoscol10 col-sm-10">
	
	
	
	<form id="addvidioscu">
	<input type="hidden" name="addvideotoformm">
	

    <label  style="width: 100%;font-size: 16px;">Videos</label>
	{foreach from=$videoscusm item=video }
		<div>
		<input class="addvideotoformm inputvideocu" value="{$video.videourl}" type="text" name="vid[]">
		<span onclick="$(this).parent().remove();" class="remove_input_video">x</span>
		</div>
	{/foreach}

	</form>
	<div style="padding-top: 13px;">
	<a class="butomme"  onclick="addvideotoformm();return false;" href="#">Save<a/>
	
	<a class="butomme" onclick="addrowvideotoformm();return false;" href="#">Add other Video<a/>
	
	</div>
	
</div>

</div>

<script type="text/javascript">
	var iso = 'en';
	var pathCSS = '/themes/default-bootstrap/css/';
	var ad = '/admin123';
	if (typeof ProductMultishop == 'undefined') {
		var ProductMultishop = {
			load_tinymce: {}
		}
	}
</script>
{literal}
<style type="text/css">
	.mce-ico {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		transform: translate(0, 0)
	}
	.mce-container{margin:0;padding:0;border:0;outline:0;vertical-align:top;background:transparent;text-decoration:none;color:#333;font-size:12px;float:none;position:static;width:auto;height:auto;white-space:nowrap;cursor:inherit;-webkit-tap-highlight-color:transparent;line-height:normal;font-weight:normal;box-sizing:content-box;text-align:left;direction:ltr}.mce-container *{margin:0;padding:0;border:0;outline:0;vertical-align:top;background:transparent;text-decoration:none;color:#333;font-size:12px;float:none;position:static;width:auto;height:auto;white-space:nowrap;cursor:inherit;-webkit-tap-highlight-color:transparent;line-height:normal;font-weight:normal;text-align:left;box-sizing:content-box;direction:ltr}.mce-widget{margin:0;padding:0;border:0;outline:0;vertical-align:top;background:transparent;text-decoration:none;color:#333;font-size:12px;float:none;position:static;width:auto;height:auto;white-space:nowrap;cursor:inherit;-webkit-tap-highlight-color:transparent;line-height:normal;font-weight:normal;text-align:left;box-sizing:content-box;direction:ltr}.mce-widget *{margin:0;padding:0;border:0;outline:0;vertical-align:top;background:transparent;text-decoration:none;color:#333;font-size:12px;float:none;position:static;width:auto;height:auto;white-space:nowrap;cursor:inherit;-webkit-tap-highlight-color:transparent;line-height:normal;font-weight:normal;text-align:left;box-sizing:content-box;direction:ltr}.mce-widget button{box-sizing:border-box}.mce-container *[unselectable]{-moz-user-select:none;-webkit-user-select:none;-o-user-select:none;user-select:none}.mce-fade{opacity:0;-webkit-transition:opacity 0.15s linear;transition:opacity 0.15s linear}.mce-fade.mce-in{opacity:1}.mce-tinymce{visibility:visible !important;position:relative}.mce-fullscreen{border:0;padding:0;margin:0;overflow:hidden;height:100%;z-index:100}div.mce-fullscreen{position:fixed;top:0;width:100%;height:auto;left:0}.mce-tinymce{display:block;border-radius:2px}.mce-wordcount{position:absolute;top:0;padding:8px;right:0}div.mce-edit-area{background:#FFF;filter:none;padding:1px}.mce-statusbar{position:relative}.mce-statusbar .mce-container-body{position:relative}.mce-fullscreen .mce-resizehandle{display:none}.mce-charmap{border-collapse:collapse}.mce-charmap td{cursor:default;border:1px solid #9e9e9e;width:20px;height:20px;line-height:20px;text-align:center;vertical-align:middle;padding:2px}.mce-charmap td div{text-align:center}.mce-charmap td:hover{background:#d9d9d9}.mce-grid td div{border:1px solid #d6d6d6;width:12px;height:12px;margin:2px;cursor:pointer;border-spacing:2px;border-collapse:separate}.mce-grid a{display:block;border:1px solid transparent}.mce-grid a:hover{border-color:#a1a1a1}.mce-grid-border{margin:0 4px 0 4px}.mce-grid-border a{border-color:#d6d6d6;width:13px;height:13px}.mce-grid-border a:hover,.mce-grid-border a.mce-active{border-color:#a1a1a1;background:#c8def4}.mce-text-center{text-align:center}div.mce-tinymce-inline{width:100%;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.mce-toolbar-grp{padding-bottom:2px}.mce-toolbar-grp .mce-flow-layout-item{margin-bottom:0}.mce-rtl .mce-wordcount{left:0;right:auto}.mce-container,.mce-container-body{display:block}.mce-autoscroll{overflow:hidden}.mce-scrollbar{position:absolute;width:7px;height:100%;top:2px;opacity:0.4;filter:alpha(opacity=40);zoom:1;right:2px}.mce-scrollbar-h{top:auto;bottom:2px;width:100%;height:7px;right:auto;left:2px}.mce-scrollbar-thumb{position:absolute;background-color:#000;border:1px solid #888;border-color:rgba(85,85,85,0.6);width:5px;height:100%;-webkit-border-radius:7px;border-radius:7px}.mce-scrollbar-h .mce-scrollbar-thumb{width:100%;height:5px}.mce-scrollbar:hover,.mce-scrollbar.mce-active{background-color:#AAA;opacity:0.6;filter:alpha(opacity=60);zoom:1;-webkit-border-radius:7px;border-radius:7px}.mce-scroll{position:relative}.mce-panel{border:0 solid #ccc;background-color:#FCFDFE}.mce-floatpanel{position:absolute;box-shadow:0 5px 10px rgba(0,0,0,0.2)}.mce-floatpanel.mce-fixed{position:fixed}.mce-floatpanel .mce-arrow{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid;border-width:11px}.mce-floatpanel .mce-arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid;border-width:10px;content:""}.mce-floatpanel.mce-popover{top:0;background:transparent;background:#fff;border:1px solid rgba(0,0,0,0.25);-webkit-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 5px 10px rgba(0,0,0,0.2);left:0}.mce-floatpanel.mce-popover.mce-bottom{margin-top:10px;*margin-top:0}.mce-floatpanel.mce-popover.mce-bottom>.mce-arrow{border-top-width:0;border-bottom-color:#9e9e9e;border-bottom-color:rgba(0,0,0,0.25);top:-11px;left:50%;margin-left:-11px}.mce-floatpanel.mce-popover.mce-bottom>.mce-arrow:after{top:1px;border-top-width:0;border-bottom-color:#fff;margin-left:-10px}.mce-floatpanel.mce-popover.mce-bottom.mce-start{margin-left:-22px}.mce-floatpanel.mce-popover.mce-bottom.mce-start>.mce-arrow{left:20px}.mce-floatpanel.mce-popover.mce-bottom.mce-end{margin-left:22px}.mce-floatpanel.mce-popover.mce-bottom.mce-end>.mce-arrow{right:10px;left:auto}.mce-fullscreen{border:0;padding:0;margin:0;overflow:hidden;background:#fff;height:100%}div.mce-fullscreen{position:fixed;top:0;left:0}#mce-modal-block{opacity:0;filter:alpha(opacity=0);zoom:1;position:fixed;top:0;width:100%;height:100%;background:#000;left:0}#mce-modal-block.mce-in{opacity:0.3;filter:alpha(opacity=30);zoom:1}.mce-window-move{cursor:move}.mce-window{background:transparent;background:#fff;position:fixed;top:0;opacity:0;-webkit-transition:opacity 150ms ease-in;transition:opacity 150ms ease-in;left:0;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);-webkit-border-radius:6px;border-radius:6px}.mce-window.mce-in{opacity:1}.mce-window-head{padding:9px 15px;border-bottom:1px solid #c5c5c5;position:relative}.mce-window-head .mce-close{position:absolute;top:9px;font-size:18px;font-weight:bold;line-height:20px;color:#858585;cursor:pointer;height:20px;overflow:hidden;right:15px}.mce-close:hover{color:#adadad}.mce-window-head .mce-title{line-height:20px;font-size:14px;font-weight:normal;text-rendering:optimizelegibility;padding-right:10px}.mce-window .mce-container-body{display:block}.mce-foot{display:block;background-color:#fff;border-top:1px solid #c5c5c5;-webkit-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px}.mce-window-head .mce-dragh{position:absolute;top:0;cursor:move;width:90%;height:100%;left:0}.mce-window iframe{width:100%;height:100%}.mce-window.mce-fullscreen{-webkit-border-radius:0;border-radius:0}.mce-window.mce-fullscreen .mce-foot{-webkit-border-radius:0;border-radius:0}.mce-rtl .mce-window-head .mce-close{position:absolute;right:auto;left:15px}.mce-rtl .mce-window-head .mce-dragh{left:auto;right:0}.mce-rtl .mce-window-head .mce-title{direction:rtl;text-align:right}.mce-abs-layout{position:relative}body .mce-abs-layout-item{position:absolute}.mce-abs-end{position:absolute;width:1px;height:1px}.mce-container-body.mce-abs-layout{overflow:hidden}.mce-tooltip{position:absolute;padding:5px;zoom:1}.mce-tooltip-inner{font-size:12px;background-color:#000;color:#fff;max-width:200px;text-align:center;white-space:normal;-webkit-border-radius:3px;border-radius:3px;padding:5px 8px 4px 8px}.mce-tooltip-arrow{position:absolute;width:0;height:0;line-height:0;border:5px dashed #000}.mce-tooltip-arrow-n{border-bottom-color:#000}.mce-tooltip-arrow-s{border-top-color:#000}.mce-tooltip-arrow-e{border-right-color:#000}.mce-tooltip-arrow-w{border-left-color:#000}.mce-tooltip-nw,.mce-tooltip-sw{margin-left:-14px}.mce-tooltip-n .mce-tooltip-arrow{top:0px;border-bottom-style:solid;border-top:none;border-left-color:transparent;border-right-color:transparent;left:50%;margin-left:-5px}.mce-tooltip-nw .mce-tooltip-arrow{top:0;border-bottom-style:solid;border-top:none;border-left-color:transparent;border-right-color:transparent;left:10px}.mce-tooltip-ne .mce-tooltip-arrow{top:0;border-bottom-style:solid;border-top:none;border-left-color:transparent;border-right-color:transparent;right:10px}.mce-tooltip-s .mce-tooltip-arrow{bottom:0;border-top-style:solid;border-bottom:none;border-left-color:transparent;border-right-color:transparent;left:50%;margin-left:-5px}.mce-tooltip-sw .mce-tooltip-arrow{bottom:0;border-top-style:solid;border-bottom:none;border-left-color:transparent;border-right-color:transparent;left:10px}.mce-tooltip-se .mce-tooltip-arrow{bottom:0;border-top-style:solid;border-bottom:none;border-left-color:transparent;border-right-color:transparent;right:10px}.mce-tooltip-e .mce-tooltip-arrow{top:50%;margin-top:-5px;border-left-style:solid;border-right:none;border-top-color:transparent;border-bottom-color:transparent;right:0}.mce-tooltip-w .mce-tooltip-arrow{top:50%;margin-top:-5px;border-top-color:transparent;border-bottom-color:transparent;left:0;border-left-style:solid;border-right:none}.mce-btn{position:relative;display:inline-block;*display:inline;*zoom:1;background-color:#fff;-webkit-box-shadow:#eee 0 0 0 inset;box-shadow:#eee 0 0 0 inset}.mce-btn:hover,.mce-btn:focus{color:#eee;background-color:#eee;-webkit-box-shadow:#ddd 0 0 0 inset;box-shadow:#ddd 0 0 0 inset}.mce-btn.mce-disabled button,.mce-btn.mce-disabled:hover button{cursor:default;box-shadow:none;opacity:0.4;filter:alpha(opacity=40);zoom:1}.mce-btn.mce-active{background-color:#d6d6d6}.mce-btn.mce-active:hover{background-color:#d6d6d6}.mce-btn:not(.mce-disabled):active{background-color:#d6d6d6}.mce-btn button{padding:2px 6px;font-size:12px;cursor:pointer;color:#333;text-align:center;overflow:visible;-webkit-appearance:none}.mce-btn button::-moz-focus-inner{border:0;padding:0}.mce-primary{min-width:50px;color:#fff;border:1px solid #b1b1b1;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25) rgba(0,0,0,0.25);background-color:#006dcc}.mce-primary:hover,.mce-primary:focus{background-color:#005fb3}.mce-primary.mce-disabled button,.mce-primary.mce-disabled:hover button{cursor:default;opacity:0.4;filter:alpha(opacity=40);zoom:1;-webkit-box-shadow:none;box-shadow:none}.mce-primary.mce-active{background-color:#005299}.mce-primary.mce-active:hover{background-color:#005299}.mce-primary:not(.mce-disabled):active{background-color:#005299}.mce-primary button{color:#fff}.mce-primary button i{color:#fff}.mce-btn-large button{padding:9px 14px;font-size:12px;line-height:normal;-webkit-border-radius:5px;border-radius:5px}.mce-btn-large i{margin-top:2px}.mce-btn-small button{padding:1px 5px;font-size:12px;*padding-bottom:2px}.mce-btn-small i{line-height:20px;vertical-align:top;*line-height:18px}.mce-btn .mce-caret,.mce-btn-small .mce-caret{margin-top:8px;margin-left:0}.mce-caret{display:inline-block;*display:inline;*zoom:1;width:0;height:0;vertical-align:top;border-top:4px solid #333;border-right:4px solid transparent;border-left:4px solid transparent;content:""}.mce-disabled .mce-caret{border-top-color:#aaa}.mce-caret.mce-up{border-bottom:4px solid #333;border-top:0}.mce-rtl .mce-btn button{direction:rtl}.mce-btn-group .mce-btn{border:solid 1px #ccc;border-radius:0;border-right:none}.mce-btn-group .mce-first{-webkit-border-top-left-radius:3px;border-top-left-radius:3px;-webkit-border-top-right-radius:0;border-top-right-radius:0;-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0;-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px}.mce-btn-group .mce-last{border-right:solid 1px #ccc;-webkit-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0}.mce-btn-group .mce-first.mce-last{border-radius:3px}.mce-btn-group .mce-btn.mce-flow-layout-item{margin:0}.mce-checkbox{cursor:pointer}i.mce-i-checkbox{border:1px solid #c5c5c5;border-radius:3px;background-color:#f0f0f0;text-indent:-10em;*font-size:0;*line-height:0;*text-indent:0;overflow:hidden;width:14px;height:14px;text-align:center;display:inline-block;margin:0 3px 0 0}.mce-checked i.mce-i-checkbox{color:#333;font-size:12px;line-height:16px;text-indent:0}.mce-checkbox:focus i.mce-i-checkbox,.mce-checkbox.mce-focus i.mce-i-checkbox{border:1px solid rgba(82,168,236,0.8);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.65);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.65)}.mce-checkbox.mce-disabled .mce-label,.mce-checkbox.mce-disabled i.mce-i-checkbox{color:#acacac}.mce-rtl .mce-checkbox{direction:rtl;text-align:right}.mce-rtl i.mce-i-checkbox{margin:0 0 0 3px}.mce-colorbutton .mce-ico{position:relative}.mce-colorbutton-grid{margin:4px}.mce-colorbutton button{padding-right:4px}.mce-colorbutton .mce-preview{display:block;position:absolute;top:50%;margin-top:7px;background:gray;width:13px;height:2px;overflow:hidden;margin-left:-14px;left:50%;padding-right:3px}.mce-colorbutton.mce-btn-small .mce-preview{width:16px;padding-right:0;margin-left:-16px}.mce-colorbutton .mce-open{border-left:1px solid transparent;border-right:1px solid transparent;padding-left:4px}.mce-colorbutton:hover .mce-open{border-left-color:#bdbdbd;border-right-color:#bdbdbd}.mce-colorbutton.mce-btn-small .mce-open{padding:0 3px 0 3px}.mce-rtl .mce-colorbutton{direction:rtl}.mce-rtl .mce-colorbutton .mce-preview{margin-left:0;padding-right:0;padding-left:4px;margin-right:14px}.mce-rtl .mce-colorbutton.mce-btn-small .mce-preview{margin-left:0;padding-right:0;margin-right:-17px;padding-left:0}.mce-rtl .mce-colorbutton button{padding-right:10px;padding-left:10px}.mce-rtl .mce-colorbutton .mce-open{padding-left:4px;padding-right:4px}.mce-combobox{display:inline-block;*display:inline;*zoom:1;*height:32px}.mce-combobox input{border:1px solid #c5c5c5;border-right-color:#c5c5c5;height:28px}.mce-combobox.mce-disabled input{color:#adadad}.mce-combobox.mce-has-open input{-webkit-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px}.mce-combobox .mce-btn{border-left:0;-webkit-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;background-color:#C5C5C5;-webkit-box-shadow:#aaa 0 -2px 0 inset;box-shadow:#aaa 0 -2px 0 inset}.mce-combobox button{height:26px}.mce-combobox.mce-disabled .mce-btn button{cursor:default;box-shadow:none;opacity:0.4;filter:alpha(opacity=40);zoom:1}.mce-path{display:inline-block;*display:inline;*zoom:1;padding:8px;white-space:normal}.mce-path .mce-txt{display:inline-block;padding-right:3px}.mce-path .mce-path-body{display:inline-block}.mce-path-item{display:inline-block;*display:inline;*zoom:1;cursor:pointer;color:#333}.mce-path-item:hover{text-decoration:underline}.mce-path-item:focus{background:#666;color:#fff}.mce-path .mce-divider{display:inline}.mce-disabled .mce-path-item{color:#aaa}.mce-rtl .mce-path{direction:rtl}.mce-fieldset{border:0 solid #9E9E9E;border-radius:3px}.mce-fieldset>.mce-container-body{margin-top:-15px}.mce-fieldset-title{margin-left:5px;padding:0 5px 0 5px}.mce-fit-layout{display:inline-block;*display:inline;*zoom:1}.mce-fit-layout-item{position:absolute}.mce-flow-layout-item{display:inline-block;*display:inline;*zoom:1;margin:2px 0 2px 2px}.mce-flow-layout-item.mce-last{margin-right:2px}.mce-flow-layout{white-space:normal}.mce-tinymce-inline .mce-flow-layout{white-space:nowrap}.mce-rtl .mce-flow-layout{text-align:right;direction:rtl}.mce-rtl .mce-flow-layout-item{margin:2px 2px 2px 0}.mce-rtl .mce-flow-layout-item.mce-last{margin-left:2px}.mce-iframe{border:0 solid #9e9e9e;width:100%;height:100%}.mce-label{display:inline-block;*display:inline;*zoom:1;border:0;overflow:hidden}.mce-label.mce-autoscroll{overflow:auto}.mce-label.mce-disabled{color:#aaa}.mce-label.mce-multiline{white-space:pre-wrap}.mce-rtl .mce-label{text-align:right;direction:rtl}.mce-menubar{border:1px solid #eee}.mce-menubar .mce-menubtn{border-color:transparent;background:transparent;border-radius:0;box-shadow:none;filter:none}.mce-menubar .mce-menubtn button span{color:#333}.mce-menubar .mce-caret{border-top-color:#333}.mce-menubar .mce-menubtn:hover,.mce-menubar .mce-menubtn.mce-active,.mce-menubar .mce-menubtn:focus{border-color:transparent;background:#e6e6e6;filter:none;box-shadow:none}.mce-menubtn.mce-disabled span{color:#aaa}.mce-menubtn span{color:#333;margin-right:2px;line-height:20px;*line-height:16px}.mce-menubtn.mce-btn-small span{font-size:12px}.mce-menubtn.mce-fixed-width span{display:inline-block;overflow-x:hidden;text-overflow:ellipsis;width:90px}.mce-menubtn.mce-fixed-width.mce-btn-small span{width:70px}.mce-menubtn .mce-caret{*margin-top:6px}.mce-rtl .mce-menubtn button{direction:rtl;text-align:right}.mce-listbox button{text-align:left;padding-right:20px;position:relative}.mce-listbox .mce-caret{position:absolute;margin-top:-2px;right:8px;top:50%}.mce-rtl .mce-listbox .mce-caret{right:auto;left:8px}.mce-rtl .mce-listbox button{padding-right:10px;padding-left:20px}.mce-menu-item{display:block;padding:6px 15px 6px 12px;clear:both;font-weight:normal;line-height:20px;color:#333;white-space:nowrap;cursor:pointer;line-height:normal;border-left:4px solid transparent;margin-bottom:1px}.mce-menu-item .mce-ico,.mce-menu-item .mce-text{color:#333}.mce-menu-item.mce-disabled .mce-text,.mce-menu-item.mce-disabled .mce-ico{color:#adadad}.mce-menu-item:hover .mce-text,.mce-menu-item.mce-selected .mce-text,.mce-menu-item:hover .mce-ico,.mce-menu-item.mce-selected .mce-ico,.mce-menu-item:focus .mce-ico{color:#fff}.mce-menu-item.mce-disabled:hover{background:#ccc}.mce-menu-shortcut{display:inline-block;color:#adadad;display:inline-block;*display:inline;*zoom:1;padding:0 15px 0 20px}.mce-menu-item:hover .mce-menu-shortcut,.mce-menu-item.mce-selected .mce-menu-shortcut,.mce-menu-item:focus .mce-menu-shortcut{color:#fff}.mce-menu-item .mce-caret{margin-top:4px;*margin-top:3px;margin-right:6px;border-top:4px solid transparent;border-bottom:4px solid transparent;border-left:4px solid #333}.mce-menu-item.mce-selected .mce-caret,.mce-menu-item:focus .mce-caret,.mce-menu-item:hover .mce-caret{border-left-color:#fff}.mce-menu-align .mce-menu-shortcut{*margin-top:-2px;position:absolute;right:0}.mce-menu-align .mce-caret{position:absolute;right:0}.mce-menu-item.mce-active i{visibility:visible}.mce-menu-item-normal.mce-active{background-color:#c8def4}.mce-menu-item-preview.mce-active{border-left:5px solid #aaa}.mce-menu-item-normal.mce-active .mce-text{color:#333}.mce-menu-item-normal.mce-active:hover .mce-text,.mce-menu-item-normal.mce-active:hover .mce-ico{color:#fff}.mce-menu-item:hover,.mce-menu-item.mce-selected,.mce-menu-item:focus{text-decoration:none;color:#fff;background-color:#0081c2}div.mce-menu .mce-menu-item-sep,.mce-menu-item-sep:hover{border:0;padding:0;height:1px;margin:9px 1px;overflow:hidden;background:#cbcbcb;border-bottom:1px solid #fff;cursor:default;filter:none}.mce-menu.mce-rtl{direction:rtl}.mce-rtl .mce-menu-item{text-align:right;direction:rtl;padding:6px 12px 6px 15px}.mce-menu-align.mce-rtl .mce-menu-shortcut,.mce-menu-align.mce-rtl .mce-caret{right:auto;left:0}.mce-rtl .mce-menu-item .mce-caret{margin-left:6px;margin-right:0;border-right:4px solid #333;border-left:0}.mce-rtl .mce-menu-item.mce-selected .mce-caret,.mce-rtl .mce-menu-item:focus .mce-caret,.mce-rtl .mce-menu-item:hover .mce-caret{border-left-color:transparent;border-right-color:#fff}.mce-menu{position:absolute;left:0;top:0;background:transparent;z-index:1000;padding:5px 0 5px 0;margin:2px 0 0;min-width:160px;background:#fff;border:1px solid #989898;border:1px solid rgba(0,0,0,0.2);z-index:1002;border-radius:6px;box-shadow:0 5px 10px rgba(0,0,0,0.2);max-height:400px;overflow:auto;overflow-x:hidden}.mce-menu i{display:none}.mce-menu-has-icons i{display:inline-block;*display:inline}.mce-menu-sub-tr-tl{margin:-6px 0 0 -1px}.mce-menu-sub-br-bl{margin:6px 0 0 -1px}.mce-menu-sub-tl-tr{margin:-6px 0 0 1px}.mce-menu-sub-bl-br{margin:6px 0 0 1px}.mce-container-body .mce-resizehandle{position:absolute;right:0;bottom:0;width:16px;height:16px;visibility:visible;cursor:s-resize;margin:0}.mce-container-body .mce-resizehandle-both{cursor:se-resize}i.mce-i-resize{color:#333}.mce-spacer{visibility:hidden}.mce-splitbtn .mce-open{border-left:1px solid transparent;border-right:1px solid transparent}.mce-splitbtn button{padding-right:4px}.mce-splitbtn .mce-open{padding-left:4px}.mce-splitbtn .mce-open.mce-active{box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05)}.mce-splitbtn.mce-btn-small .mce-open{padding:0 3px 0 3px}.mce-rtl .mce-splitbtn{direction:rtl;text-align:right}.mce-rtl .mce-splitbtn button{padding-right:10px;padding-left:10px}.mce-rtl .mce-splitbtn .mce-open{padding-left:4px;padding-right:4px}.mce-stack-layout-item{display:block}.mce-tabs{display:block;border-bottom:1px solid #c5c5c5}.mce-tab{display:inline-block;*display:inline;*zoom:1;border:1px solid #c5c5c5;border-width:0 1px 0 0;background:#e3e3e3;padding:8px;height:13px;cursor:pointer}.mce-tab:hover{background:#fdfdfd}.mce-tab.mce-active{background:#fdfdfd;border-bottom-color:transparent;margin-bottom:-1px;height:14px}.mce-rtl .mce-tabs{text-align:right;direction:rtl}.mce-rtl .mce-tab{border-width:0 0 0 1px}.mce-textbox{background:#fff;border:1px solid #c5c5c5;border-radius:3px;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);display:inline-block;transition:border linear 0.2s,box-shadow linear 0.2s;height:28px;resize:none;padding:0 4px 0 4px;white-space:pre-wrap;*white-space:pre;color:#333}.mce-textbox:focus,.mce-textbox.mce-focus{border-color:rgba(82,168,236,0.8);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.65)}.mce-placeholder .mce-textbox{color:#aaa}.mce-textbox.mce-multiline{padding:4px}.mce-textbox.mce-disabled{color:#adadad}.mce-rtl .mce-textbox{text-align:right;direction:rtl}.mce-throbber{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0.6;filter:alpha(opacity=60);zoom:1;background:#fff url("img/loader.gif") no-repeat center center}.mce-i-none{width:16px;height:16px;margin:2px 0}.mce-ico{font-size:14px;line-height:20px}.mce-i-save:before{content:""}.mce-i-newdocument:before{content:""}.mce-i-fullpage:before{content:""}.mce-i-alignleft:before{content:""}.mce-i-aligncenter:before{content:""}.mce-i-alignright:before{content:""}.mce-i-alignjustify:before{content:""}.mce-i-cut:before{content:""}.mce-i-paste:before{content:""}.mce-i-searchreplace:before{content:""}.mce-i-bullist:before{content:""}.mce-i-numlist:before{content:""}.mce-i-indent:before{content:""}.mce-i-outdent:before{content:""}.mce-i-blockquote:before{content:""}.mce-i-undo:before{content:""}.mce-i-redo:before{content:""}.mce-i-link:before{content:""}.mce-i-unlink:before{content:""}.mce-i-anchor:before{content:""}.mce-i-image:before{content:""}.mce-i-media:before{content:""}.mce-i-help:before{content:""}.mce-i-code:before{content:""}.mce-i-inserttime:before{content:""}.mce-i-preview:before{content:""}.mce-i-forecolor:before,.mce-i-backcolor:before{content:""}.mce-i-table:before{content:""}.mce-i-hr:before{content:""}.mce-i-removeformat:before{content:""}.mce-i-subscript:before{content:""}.mce-i-superscript:before{content:""}.mce-i-charmap:before{content:""}.mce-i-emoticons:before{content:""}.mce-i-print:before{content:""}.mce-i-fullscreen:before{content:""}.mce-i-spellchecker:before{content:""}.mce-i-nonbreaking:before{content:""}.mce-i-template:before{content:""}.mce-i-pagebreak:before{content:""}.mce-i-restoredraft:before{content:""}.mce-i-untitled:before{content:""}.mce-i-bold:before{content:""}.mce-i-italic:before{content:""}.mce-i-underline:before{content:""}.mce-i-strikethrough:before{content:""}.mce-i-visualchars:before,.mce-i-visualblocks:before{content:""}.mce-i-ltr:before{content:""}.mce-i-rtl:before{content:""}.mce-i-copy:before{content:""}.mce-i-resize:before{content:""}.mce-i-browse:before{content:""}.mce-i-pastetext:before{content:""}.mce-i-checkbox:before{content:""}.mce-i-selected{visibility:hidden}.mce-i-selected:before{content:""}i.mce-i-backcolor{background:#bbb}
</style>
{/literal}

<script type="text/javascript" src="https://medicalmarijuanaexchange.com/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="https://medicalmarijuanaexchange.com/js/admin/tinymce.inc.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		tinySetup({
			editor_selector :"autoload_rte",
			setup : function(ed) {
				ed.on('init', function(ed)
				{
					if (typeof ProductMultishop.load_tinymce[ed.target.id] != 'undefined')
					{
						if (typeof ProductMultishop.load_tinymce[ed.target.id])
							tinyMCE.get(ed.target.id).hide();
						else
							tinyMCE.get(ed.target.id).show();
					}
				});

				ed.on('keydown', function(ed, e) {
					tinyMCE.triggerSave();
					textarea = $('#'+tinymce.activeEditor.id);
					var max = textarea.parent('div').find('span.counter').data('max');
					if (max != 'none')
					{
						count = tinyMCE.activeEditor.getBody().textContent.length;
						rest = max - count;
						if (rest < 0)
							textarea.parent('div').find('span.counter').html('<span style="color:red;">Maximum '+ max +' characters : '+rest+'</span>');
						else
							textarea.parent('div').find('span.counter').html(' ');
					}
				});
			}
		});

	});
</script>

<script>
//manage ajax add remove videos 
function addvideotoformm(){   
	$.ajax({
           type: "POST",
           url: '#',
           data: $("#addvidioscu").serialize(), // serializes the form's elements.
           success: function(data)
           {
               alert('Video list Updated')
			   //alert(data); // show response from the php script.
           }
         });

    return false; // avoid to execute the actual submit of the form.
	
}





function addrowvideotoformm(){
htmladdlineinput = '<div><input class="addvideotoformm inputvideocu" value="{$video.videourl}" type="text" name="vid[]"><span onclick="$(this).parent().remove();" class="remove_input_video">x</span></div>';

$('#addvidioscu').append(htmladdlineinput);


}
</script>




<div class="clearfix"></div>


<div style="display: flex; align-items: flex-end;">
	<label class="control-label col-sm-2 labelx" >Pictures</label>
	<span class="size_info" style="font-size: 16px; margin-left: 10px;">(recomended size of images 695x463px)</span>
</div>
<label class="control-label col-sm-2 labelx" ></label>
	<div class="picturesonedit col-sm-10">
		<div class="col-md-3">
			<div class="borderima2">
				<img onclick="$('.pictose').click();" class="img-responsive" src="{$img_dir}add-icon.png"/>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class=" borderima2">
			</div>
		</div>
		
		<div class="col-md-3">
			<div class=" borderima2">
			</div>
		</div>
		<div class="col-md-3">
			<div class=" borderima2">
			</div>
		</div>
		
		
	</div>
	
	<form id="fformpicup" method="POST">
	<div class="form-group">
		<div class="col-sm-10"> 
		  <input style="display:none" type="file" name="pictose" value="{$cust.pictose}" class="pictose form-control">
		</div>
	</div>
	<input type="hidden" name="submitpictureajaxcus">
	</form>
	
	
	
	<script>
	$('.store_bg').on('change', function() {
	  if(this.value == 'own'){
	  	$('.own_bg').show();
	  }else{
	  	$('.own_bg').hide();
	  }
	});
	
	$("input.pictose").change(function () {
		uploadpicccc();
	});
	function uploadpicccc(){
		$('.load22').show();
		var formData = new FormData();
		formData.append('image', $('.pictose')[0].files[0]); 
		formData.append('submitpictureajaxcus', '');
		
		$.ajax({
		  url: "#",
		  type: "POST",
		  data: formData,
		  enctype: 'multipart/form-data',
		  processData: false,  // tell jQuery not to process the data
		  contentType: false ,  // tell jQuery not to set contentType
		  success: function(data)
           {
              $('.load22').hide();
			  //alert(data); // show response from the php script.
			   $('.picturesonedit').html(data);
           }
		})
	
	}
	$( document ).ready(function() {
		uploadpicccc();
	
	});
	
	
	function deletepicfromprof(id){
	
		if (confirm("Are you sure?") == true) {
			
			var url = "#"; // the script where you handle the form input.

			$.ajax({
				   type: "POST",
				   url: url,
				   data: 'deletepicfrompro&id='+id, // serializes the form's elements.
				   success: function(data)
				   {
					   $('.idddd'+id).hide(1000);
					   //$('.idddd'+id).remove();
					   //alert(data); // show response from the php script.
				   }
				 });
			
			
		} else {
			return false;
		}
	
	}
	</script>
