.header_user_info {
  float: left;
  
  }
  .header_user_info a {
    display: block;
    line-height: 27px;
    }
    @media (max-width: 479px) {
      .header_user_info a {
        font-size: 11px; } }
    .header_user_info a:hover, .header_user_info a.active {
      /* background: #2b2b2b; */
      }

/*# sourceMappingURL=blockuserinfo.css.map */
