
.close_add{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 29px;
    float: right;
    color: #000000;
    cursor: pointer;
}
.add_camp_title{
    float: left;
}
.form-group{
    clear: both;
}
/*Sectprs*/
#module-medicalmarijuanaexchangedirectory-sector #center_column{
    border-top: 1px solid #838080;
}
.sector_title{
    font-family: Baskerville;
    font-size: 30px;
    color: #474646;
    display: block;
    margin-top: 35px;
    margin-bottom: 20px;
}
.sector_description{
    margin-top: 30px;
    margin-bottom: 40px;
}
.sector_news_title{
    font-family: Baskerville;
    font-size: 30px;
    color: #474646;
    display: block;
    margin-top: 35px;
    margin-bottom: 20px;
}
.sector_news{
    width: 100%;
    background: #FFFFFF;
    padding-right: 20px;
  }
.sector_news .stocks_news_title{
    text-transform: uppercase;
    color: #1674b1;
    font-family: "Oswald", "Arial Narrow", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 35px;
    padding: 5px 15px 10px;
    border-bottom: solid 1px #cccccc;
    margin: 10px 0 0;
  }
.sector_news .singlr_title{
    display: inline;
    color: #000000;
    margin-right: 10px;
    font-size: 14px;
    line-height: 18px;
}
.sector_news .single_news_block{
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 10px 15px;
    margin: 0;
    line-height: 14px;
  }
.sector_news .single_loading_block{
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 10px 15px;
    margin: 0;
    line-height: 14px;
  }
/*END Sectors*/

.remove_story{
    font-size: 22px;
}
.add_new_clicks{
    display: block;
    margin: 15px 0;
    cursor: pointer;
    text-decoration: underline;
    color: red;
}
.red_color{
    color: red!important;
}
#module-medicalmarijuanaexchangedirectory-editstories #story_points{
    margin-top: 10px;
}
#campaign_points{
    display: none;
    margin-top: 10px;
}
.color_red{
    color: red;
}
.add_adv_buttons{
    text-align: right;
}
.add_banner_top{
    display: inline-block;
    padding: 10px 23px;
    background: #078AE9;
    color: #ffffff;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: Futura PT Book;
    font-size: 15px;
    margin-right: 20px;
}
.add_banner_top:hover{
    background: #3276b1;
}
.add_story_top{
    display: inline-block;
    padding: 10px 23px;
    background: #078AE9;
    color: #ffffff;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: Futura PT Book;
    font-size: 15px;
    cursor: pointer;
}
.add_story_top:hover{
    background: #3276b1;
}

.stock_search_container{
    margin: 25px 0;
    width: 400px;
    float: right;
    clear: both;
}

.stock_search_container .despensaries_search_input_parent {
    width: 100%;
    height: 100%;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 3px;
}
#pagination{
    text-align: center;
    margin-top: 25px;
}
#pagination li{
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}
.current{
    border:1px solid;
    border-radius: 100%;
}
#not_found{
    display: none;
}
#symbols_tabel{
    clear: both;
    margin-top: 15px;
}
@media (max-width: 450px) {
    .stock_search_container{
      width: 95%;
      float: none;
      margin:auto;
    }
}
@media (max-width: 330px) {
    #pagination li {
        margin: 0 0px;
    }
}
/*Shop Page*/

.despensaries_search_container{
    margin: 25px 0;
    width: 400px;
    float: right;
    clear: both;
}
.shop_menu_filters .flower{
   padding-left: 20px; 
}
.shop_product_price span{
    display: inline-block;
}
#shop_product_more_sizes{
    float: right;
    color: #79bc43;
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;
}
.shop_product_price_block{
    font-weight: bold;
}
.shop_product_price{
    padding-bottom: 15px;
}
/*End shop page*/
/*Map page*/
.info-window-company .company-logo {
    width: 76px;
    height: 76px;
    border: 3px solid #dbdbdb;
    background-size: cover;
    background-position: center;
    display: inline-block;
    border-radius: 100%;
}

.company-list-item .bistartrev .br-theme-css-stars .br-widget {
    float: left;
    margin-right: 5px;
    height: auto;
}

.company-list-item .bistartrev .br-theme-css-stars {
	margin-top: 15px;
}

.company-list-item .bistartrev .br-theme-css-stars .br-widget a {
    font-size: 22px!important;
    margin-right: 0px!important;
}

.company-list-item .bistartrev .br-theme-css-stars span {
    font-size: 12px;
}

.window-image-part {
    float: left;
}

.window-content-part {
    float: left;
}

.info-window-company .company-name {
    color: #666;
    font-size: 16px;
    font-weight: 700;
    margin: 10px;
}

/*End Map Page*/
.shop_logo {
    height: 400px;
    display: block;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.shop_logo {
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop_logo_img {
    
}

.store_bg {
    height: 30px;
    padding: 0px 12px;
    font-size: 13px;
    color: #555;
    background-color: #fff!important;
    border: 1px solid #ccc;
}

.own_bg {
    font-size: 14px;
    margin-top: 15px;
}

.store_bg_img {
    margin-top: 15px;
    display: block;
    max-width: 300px;
}

.own_bg span {
    display: block;
    margin-bottom: 10px;
}

.own_bg {
    display: none;
}

.shop_review_author {
    color: #474646;
    font-family: 'Libre Baskerville', serif!important;
    font-size: 14px;
}

#ttt4 .item {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.wi80k0red {
    margin-bottom: 40px;
}

.shop_content {
    margin-top: 75px;
}

.shop_right_info{
    overflow: hidden;
    margin-bottom: 40px;
}

.alldays {
    padding: 10px 0;
}

.daytexts {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: #474646;
}

.br-theme-css-stars .br-widget a.br-active:after {
    color: #0a9546 !important;
}

.daytexts3 {
    display: inline-block;
    font-size: 14px;
    color: #474646;
}

.hourtexts {
    font-size: 14px;
    color: #474646;
    display: inline-block;
    float: right;
}

.avr_cust_reviews {
    color: #838080;
    font-size: 15px;
    margin-bottom: 10px;
    display: block;
}

.hourtexts2 {
    font-size: 14px;
    color: #474646;
    display: inline-block;
}

.br-theme-css-stars .br-widget a.br-selected:after {
    color: #0a9546 !important;
}

.daytexts2 {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: #474646;
    width: 110px;
}

.aaddreviewbu {
    width: 170px;
    height: 40px;
    background-color: #59b849;
    color: #ffffff;
    display: block;
    line-height: 45px;
    text-align: center;
    line-height: 40px;
}

.hourtexts2 a {
    color: #75c246
}

.daytexts3 a {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #d1cbcb;
    border-radius: 100%;
    margin-right: 10px;
}

.shop_content .navbar-nav > li {
    width: 20%;
    text-align: center;
}

.title_right_info {
    display: block;
    margin-top: 40px;
    font-family: 'Libre Baskerville', serif!important;
    color: #474646;
    font-size: 20px;
    margin-bottom: 15px;
}

.shop_connect_btn {
    color: #ffffff;
    font-family: 'Libre Baskerville', serif!important;
    width: 115px;
    height: 45px;
    background-color: #084121;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    float: right;
    clear: both;
    margin-top: 10px;
}

.shop_lightgreendot {
  width: 10px;
  height: 10px;
  background-color: #75c246;
  display: inline-block;
  border-radius: 100%;
}

.shop_greendot {
  width: 10px;
  height: 10px;
  background-color: #0a9546;
  display: inline-block;
  border-radius: 100%;
}

.shop_content .navbar-nav {
    width: 100%;
}

.shop_right_info {
    border-top: 1px solid #838080;
}

.shop-product-name {
    color: #474646;
    font-size: 14px;
    font-weight: bold;
}

.shop-right-block {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 9px;
    padding-right: 9px;
}

.shop_product_price span {
    display: inline-block;
    font-size: 15px;
    color: #474646;
    margin-top: 10px;
}
.shop_product_size{
    margin-left: 8px;
    color: #808080;
}
.shop_content .col-md-8 {
    padding-right: 70px;
}

.shop_content .col-md-4 {
    padding-left: 30px;
}

.shop_product_categoty {
    font-family: 'Libre Baskerville', serif!important;
    color: #474646;
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: left!important;
    margin-top: 30px;
    clear: both;
}

@media (max-width: 991px) {
    .shop_content .col-md-8 {
        padding-right: 15px;
    }

    .shop_content .col-md-4 {
        padding-left: 15px;
    }
}

@media (max-width: 767px) {
    .shop_content .navbar-nav {
        margin: 0;
    }

    .shop_content .navbar-nav > li {
        width: 100%;
        text-align: center;
    }
}

.shop_content .navbar-nav > li > a {
    border-top: 1px solid #838080;
    color: #141414;
    font-size: 16px;
}

.shop_content .navbar-default .navbar-nav > .active > a, 
.shop_content .navbar-default .navbar-nav > .active > a:hover, 
.shop_content .navbar-default .navbar-nav > .active > a:focus {
    border-top: 3px solid #0a9546;
}

.stats_row {
    display: none;
}

.btocampaddtohideshow {
    line-height: 29px;
    height: 29px;
    display: inline-block;
    color: #000000;
    cursor: pointer;
}

.stats_icon {
    display: inline!important;
    margin-top: -4px !important;
    width: auto!important;
}

.content_scene_cat {
    position: relative;
}

.plus_icon {
    display: inline-block!important;
    margin-top: -4px!important;
    margin-right: 10px!important;
}

.camp_head td:first-child {
    width: 105px;
}

.camp_bottom td {
    padding-left: 20px;
    padding-right: 20px;
}

.add_plus {
    background: #000000;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    margin-right: 8px;
    margin-top: 4px;
}

.publi {
    text-align: center;
    margin: 18px 0;
    /*border: 1px solid #d6d4d4;
    padding: 16px;
    background: #f6f6f6;*/
	margin-top: 0;
}

.show_stats, 
.back_btn,
.remove_story {
    cursor: pointer;
}

.stats_row td{
    position: relative;
}

.back_btn_graf {
    width: 96px;
    height: 29px;
    border: 1px solid #000000;
    color: #000000;
    display: block;
    text-align: center;
    line-height: 29px;
    position: absolute;
    right: 10px;
    bottom: 0;
    cursor: pointer;
    margin-bottom: 5px;
}

.green_dot {
    width: 10px;
    height: 10px;
    background: #71A10B;
    display: inline-block;
    border-radius: 100%;
}

.graf {
    float: left;
}

.clicks {
    font-size: 10px;
    color: #000000;
}

.stats_info > div {
    font-size: 10px;
    color: #000000;
    line-height: 18px;
    display: block;
    border-bottom: 1px solid #E8E8E8;
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.stats_payment_type {
    display: inline-block;
}

.campname_list {
    cursor: pointer;
    font-size: 14px;
    color: #A7A7A7;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
}

.stats_row {
    border-top:1px solid #000000
}

.stats_active {
    background-color: #000000;
    color: #ffffff;
}

.stats_info > div > span {
    font-size: 20px;
    color: #71A10B;
    width: 60px;
    display: inline-block;
}

.add_story_section {
    padding: 15px;
}

.add_story_title {
    font-size: 18px;
    color: #474747;
}

.story_photo_block {
    width: 240px;
    height: 137px;
    border: 1px solid #000000;
    display: block;
    text-align: center;
}

.form_buttons {
    float: right;
    margin-top: 30px;
    margin-bottom: 15px;
}

.form_buttons .ss_add {
    width: 208px;
    height: 34px;
    background: #000000;
    text-align: center;
    color: #ffffff;
    line-height: 34px;
    display: inline-block;
    border: 1px solid #000000;
    margin-right: 15px;
}

.form_buttons .ss_cansel {
    width: 121px;
    height: 34px;
    border: 1px solid #000000;
    color: #000000;
    line-height: 34px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

#add_description {
    width: 100%;
    height: 140px;
    border: 1px solid #000000;
}

.upload_photo_btn {
    width: 122px;
    height: 26px;
    background: #000000;
    color: #ffffff;
    line-height: 26px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.story_photo_block .filename {
    margin-top: 27px!important;
    margin-bottom: 18px!important;
    display: block;
}

.add_story_form label, .add_campaign_form label {
    display: block;
    font-size: 14px;
    color: #353535;
    margin-top: 20px;
    margin-bottom: 8px;
}

#story_title, #story_clicks {
    width: 240px;
    height: 30px;
}
.campaign_input {
    width: 240px;
    height: 30px;
    padding: 5px;
}
.add_story_section .alert-success{
    margin-top: 10px;
}
#story_points{
    display: none;
}
.advmanager {
    width: 100%;
}

.advmanager td {
    border: 1px solid #000000;
}

.advmanager .table_title {
    font-size: 18px;
    color: #474747;
    padding-left: 15px;
}

.camp_bottom {
    border-top:1px solid #000000;
}

.camp_head {
    border-bottom: 1px solid #000000;
}

.show_stats {
    width: 148px;
    height: 29px;
    color: white;
    line-height: 29px;
    background: #000000;
    border: 1px solid #000000;
    text-align: center;
    float: right;
    display: block;
    margin-right: 15px;
}

.back_btn {
    float: right;
    width: 96px;
    height: 29px;
    border: 1px solid #000000;
    color: #000000;
    display: block;
    text-align: center;
    line-height: 29px;
}

.compain_table > td {
    padding: 0 !important;
    border: 1px solid #000000!important;
}

.compain_table td {
    border: none;
    border-right: 1px solid  #E0E0E0;
}

.add_banner {
  width: 158px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: #000000;
  display: block;
  margin: auto;
  color: #ffffff;
}

.advmanager video, 
.advmanager img {
    max-width: 90%;
    max-height: 250px;
    display: block;
    margin: auto;
}

.advmanager .head td {
    font-weight: bold;
    color: #000000;
}

.advmanager .head td, 
.advmanager .id_num, 
.advmanager .ban_img {
    text-align: center;
}

.advmanager td {
    vertical-align: top;
}

.show_campain_btn {
    width: 40%;
    height: 32px;
    display: block;
    background: #000000;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    line-height: 32px;
    float: right;
}

.video_banners {
    margin-top: 60px;
}

.ss_picture img {
    max-width: 240px;
    margin-bottom: 10px;
}

.add_story {
    width: 208px;
    height: 34px;
    background: #000000;
    display: block;
    margin: auto;
    color: #ffffff;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}

.remove_bannerx {
    text-align: center;
    background: #f3515c;
    color: white;
    padding: 6px 0;
    border: 1px solid #d4323d;
    cursor: pointer;
    font-size: 14px;
    width: 200px;
    margin: auto;
    margin-top: 15px;
}

.compain_table {
    display: none;
}

.upload_video_section {
    display: none;
}

.type_img {
    margin: 0 20px;
}

img.publi-img {
   max-width: 100%;
 /*   max-height: 150px;
    border: 1px solid #333;
*/
}

.search-plus-to-ban {
    position: absolute;
    top: 6px;
    font-size: 17px;
    right: 5px;
    background: #fbfbfb;
    border: 2px solid #333;
    padding: 4px 4px;
    color: black;
    border-radius: 6px;
}

.spinnerloadcity {
    text-align: center;
    position: absolute;
    font-size: 39px;
    max-width: 500px;
    width: 100%;
    padding-top: 11px;
    color: black;
}

.picturesonedit {
    padding: 25px 0;
}

.picturesonedit .col-md-3 {
    margin-bottom: 25px;
}

.borderima2 img {
    max-height: 202px;
    margin: 0 auto;
}

.borderima2 {
    border: 2px solid;
    height: 217px;
    padding: 3px;
    width: 100%;
}

#center_column .active_category {
    background-color: #56b646;
    color: #FFF;
}

#center_column .lftpan h2.active_category {
    background-color: transparent;
    color: #474646;
} 

.lftpan {
    border-right: 1px solid #f6f6f6;
    padding-right: 10px;
    padding-top: 15px;
}

.lftpan h2 {
    padding: 8px;
    margin: 0 0 10px;
    font-family: Baskerville;
    font-size: 23px;
    line-height: 23px;
    color: #474646;
    text-transform: uppercase;
}

.lftpan h2:hover {
    background-color: #21ad66;
    color: #FFF;
}

.lftpan ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.lftpan ul li {
    padding: 0;
    margin: 0 0 2px;
    list-style: none;
    font-size: 14px;
    color: #5d5d5d;
    border-bottom: 1px solid #efefef;
    line-height: 25px;
}

.lftpan ul li a {
    color: #5d5d5d;
    text-decoration: none;
    display: block;
    padding: 8px;
}

.lftpan ul li a:hover {
    display: block;
    color: #00a161;
}

.mediatxt {
    font-size: 12px;
    color: #5d5d5d;
}

.mediadt {
    font-size: 12px;
    color: #c3c3c3;
}

.mediab {
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

div ul li a {
    background-color: none!important;
}

.mainlft ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mainlft ul li {
    padding: 0;
    margin: 0 0 2px;
    list-style: none;
    font-size: 14px;
    color: #5d5d5d;
}

.mainlft ul li a {
    color: #5d5d5d;
    text-decoration: none;
    background-color: #f7f7f7;
    display: block;
    padding: 8px;
  
    background-repeat: no-repeat;
    background-position: 246px 12px;
}

.mainlft ul li a:hover {
    background-color: #56b646;
    display: block;
    color: #FFF;
    padding: 8px;
    
    background-repeat: no-repeat;
}

.mainlft ul li a.active {
    background-color: #56b646;
    display: block;
    color: #FFF;
    padding: 8px;
    background-image: url(../img/minu.png);
    background-repeat: no-repeat;
}

.mainlft ul li ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mainlft ul li ul li {
    padding: 0;
    margin: 0 0 2px;
    list-style: none;
    font-size: 14px;
    color: #5d5d5d;
}

.mainlft ul li ul li a {
    color: #5d5d5d;
    text-decoration: none;
    background-color: #fff!important;
    background-image: none!important;
}

.mainlft ul li ul li a:hover {
    background-color: #21ad66;
    display: block;
    color: #00a161;
    background-color: #fff!important;
    background-image: none!important;
}

.prictabsec {
    width: 19%;
    float: left;
    margin-right: 1px;
    border-right: 1px solid #dedede;
}

.prictabsec:last-child {
    border-right: 0 solid #dedede;
}

.prichd {
    background: #7d7e7d;
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
    background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    background: -o-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    background: -ms-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0);
    line-height: 60px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin-top: 0;
    text-transform: uppercase;
}

.prichd a {
    color: #fff!important;
    text-decoration: none;
}

.prichd a:hover {
    color: #8a8a8a!important;
    text-decoration: underline;
}

.pritab ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pritab ul li {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #eee;
    text-align: center;
    line-height: 30px;
    list-style: none;
    font-size: 12px;
    color: #000;
}

.grycol {
    background-color: #f5f5f5;
}

.prichd2 {
    background: #5bbe8f;
    background: -moz-linear-gradient(top, #5bbe8f 0%, #39a270 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bbe8f), color-stop(100%, #39a270));
    background: -webkit-linear-gradient(top, #5bbe8f 0%, #39a270 100%);
    background: -o-linear-gradient(top, #5bbe8f 0%, #39a270 100%);
    background: -ms-linear-gradient(top, #5bbe8f 0%, #39a270 100%);
    background: linear-gradient(to bottom, #5bbe8f 0%, #39a270 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bbe8f', endColorstr='#39a270', GradientType=0);
    line-height: 65px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
}

.prichd2 a {
    color: #fff!important;
    text-decoration: none;
}
.prichd2 a:hover {
    color: #fff!important;
    text-decoration: underline;
}

.prictabsec2 {
    float: left;
    margin-right: 1px;
    width: 19%;
    border: 1px solid #3ca573;
    border-radius: 5px;
    background-color: #3ca573;
}

.prictabsec2 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.prictabsec2 ul li {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #eee;
    text-align: center;
    line-height: 30px;
    list-style: none;
    font-size: 12px;
    color: #fff;
}

.prictabsec2.grycol {
    background-color: #3ca573;
}

.prictabsec2 ul li:nth-child(2n+0) {
    background: #3ca573;
}

.price {
    font-size: 18px!important;
}

#arb_footer_banner_linkurl {
    margin-top: 30px;
}

.newsticker_wrapper {
    height: 4em;
}

.yamm .nav, 
.yamm .collapse, 
.yamm .dropup, 
.yamm .dropdown {
    position: static;
}

.yamm .container {
    position: relative;
}

.yamm .dropdown-menu {
    left: auto;
}

.yamm .yamm-content {
    padding: 20px 30px;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}

.hdnam a:hover {
    text-decoration: none!important;
}

.navigation_end {
    display: none!important;
}

input.button_mini, 
input.button_small, 
input.button, 
input.button_large, 
input.button_mini_disabled, 
input.button_small_disabled, 
input.button_disabled, 
input.button_large_disabled, 
input.exclusive_mini, 
input.exclusive_small, 
input.exclusive, 
input.exclusive_large, 
input.exclusive_mini_disabled, 
input.exclusive_small_disabled, 
input.exclusive_disabled, 
input.exclusive_large_disabled, 
a.button_mini, 
a.button_small, 
a.button, 
a.button_large, 
a.exclusive_mini, 
a.exclusive_small, 
a.exclusive, 
a.exclusive_large, 
span.button_mini, 
span.button_small, 
span.button, 
span.button_large, 
span.exclusive_mini, 
span.exclusive_small, 
span.exclusive, 
span.exclusive_large, 
span.exclusive_large_disabled {
    position: relative;
    display: inline-block;
    padding: 7px 14px;
    border: 1px solid #5bbe8f;
    font-weight: bold;
    color: white;
    background: #5bbe8f;
    cursor: pointer;
    white-space: normal;
    text-align: left;
    /* width: 100%; */
}

.cats {
    height: 500px;
    overflow: scroll;
}


.shopping_cart span {
    color: white!important;
}


.labelx {
    margin: 0;
    padding: 0!important;
    font-size: 20px;
}

.rtp .row .col-md-12 img {
    max-width: 150px;
    margin: 0 auto;
    float: none;
    display: block;
}

.rtp {
    margin-top: 10px;
}


a.addtodirectonmy {
    background: black;
    color: white!important;
    padding: 13px;
    display: block;
    width: 185px;
    margin-top: 15px;
    float: left;
    text-align: center;
    margin-left: 15px;
}

a.directortableeditbu {
    color: white;
    background: #333;
    padding: 11px 20px;
	display: block;
	text-align:center;
	border-radius: 5px;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(207,207,207,1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(207,207,207,1);
    box-shadow: 6px 6px 5px 0px rgba(207,207,207,1);
}

img.imgdirectonmystore {
    width: 96px;
    border: 2px solid #d6d4d4;
    border-radius: 5px;
	-webkit-box-shadow: 6px 6px 5px 0px rgba(207,207,207,1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(207,207,207,1);
    box-shadow: 6px 6px 5px 0px rgba(207,207,207,1);
}

.btn-primary {
    -webkit-box-shadow: 6px 6px 5px 0px rgba(207,207,207,1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(207,207,207,1);
    box-shadow: 6px 6px 5px 0px rgba(207,207,207,1);
}

.chatnowpng {
    max-width: 73px;
    position: absolute;
    right: 7px;
    top: 0;
    cursor: pointer;
	z-index: 1;
}

.chatnowpnghome {
    max-width: 73px;
    position: absolute;
    right: 21px;
    top: 0;
    cursor: pointer;
	z-index: 1;
}

.chatnowpngsellerpage {
    max-width: 123px;
    position: absolute;
    right: 21px;
    top: 0;
    cursor: pointer;
    z-index: 1;
}
.chatnowpng:hover {  
  -webkit-filter: drop-shadow(5px 5px 5px #6e6e6e);
  filter: drop-shadow(5px 5px 5px #5c5c5c);
}

.custombbtosociallo {
    display: block;
    float: right;
}

.btn.btn-login-facebook {
    margin: 0!important;
	margin-top: 3px!important;
}
.btn.btn-login-google {
    margin: 0!important;
	margin-top: 3px!important;
}

.site-heading h3{
    font-size : 40px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.border {
    background: #d1360e;
    height: 2px;
    width: 165px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
/* Blog-CSS */
.blog-box {
    padding: 0 0px;
    transition: .5s;
   /* border: 1px solid #e2e2e2;*/
    margin-bottom: 30px;
}

.blog-box-content h4 a {
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    text-transform: capitalize;
    
}

.blog-box-content h4:hover {
    color:#000;
     text-decoration:none;
    
}

.blog-box-content {
	/*padding: 0 20px 20px;*/
	/*min-height: 225px;*/
    padding: 10px;
}
.blog-box-text h4 a {
    color: #333;
}

.blog-box-image {
	overflow: hidden;
    min-height: 206px;
   /* background: #e2e2e2;*/
    max-height: 206px;
    /*border-bottom: 1px solid #e2e2e2;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-box-image a img {
  /*  max-height: 276px!important;*/
}

.blog-box-content h4 {
    min-height: 60px;
}

.imgblogpostbig {
   /*width: auto;
   max-width: 45%;*/

    /* max-height: 325px;*/
}

.parentimgblogpostbig {
    text-align: center;
}

@media (max-width: 500px) {
    .imgblogpostbig {
        max-width: 100%;
    }
}

.tittleblogpostbig {
    margin-top: 0px;
    color: #333;
    font-weight: 600!important;
    font-size: 30px;
    /*border-bottom: 1px solid #3334;*/
    padding-bottom: 7px;
}

.blogpostauthor {
    display: block;
    color:#000000;
}

.blogpostdate {
    display: block;
    color:#000000;
    margin-bottom: 5px;
}

a.highlight {
    color: #000000;
    font-weight: 800!important;
    font-size: 14px;
}

span.datetopodtpodtblog {
    text-align: right;
}

p.datetopodtpodtblog {
    text-align: right;
}

.commentbodyblogB {
    text-align: justify;
    font-size: 18px;
    color: #333;
    line-height: 1.75;
}

.imgsocialtoblogpost {
    width: 45px;
    margin: 10px;
	margin-left: 0;
}

#index .current-item-block {
    /*min-height: 562px;*/
    min-height: auto;
}

.commentbodyblogB a {
    color: black;
    font-weight: 900!important;
}

span.firstlcommentbodyblogB {
    font-size: 32px;
    font-weight: 900!important;
    position: absolute;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff!important;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.addrevighmy {
    padding: 15px;
    margin: 15px;
    border: 1px solid #c4c4c4;
}

.addcommentmvfdvj {
    margin: 0;
    margin-bottom: 21px;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 6px;
	color: black;
}

.commentrowskkjk .comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.comment-img img {
    display: block;
}

.comment-body {
    overflow: hidden;
}

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.comment .text p:last-child {
    margin: 0;
}

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

/* Decoration */

.comments,
.comment {
    position: relative;
}

.comments:before,
.comment:before,
.comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.commentrowskkjk .comments:before {
    width: 3px;
    top: -20px;
    bottom: -20px;
    background: rgba(0,0,0,0.1);
}

.commentrowskkjk .comment:before {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -9px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}

.comment:hover:before {
    background: orange;
}

.comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.commentrowskkjk {
    padding: 10px 15px 30px 15px;
    border: 1px solid #c4c4c4;
    margin-top: 20px;
}

div#succes-review2 {
    margin-top: 19px;
    margin-bottom: 0;
}

.changecountryestostatesspan {
    font-size: 18px;
    border: 1px solid #ddd;
    padding: 15px;
    width: 132px;
    float: left;
    text-align: center;
    margin-right: 10px;
	cursor: pointer;
}

.changecountryestostatesspan.active ,.changecountryestostatesspan:hover  {
    background: #333;
    color: white;
}

.keywordtabr{ 
    background: #fcfcfc;
    border: 1px solid #cccccc;
    padding: 15px;
    margin-bottom: 15px;
}

.bootstrap-tagsinput .tag {
    margin-top: 6px!important;
}

/*SoftSprint Uliana*/
#fine-uploader-gallery .qq-upload-button{
    width: 100%;
}

#fine-uploader-gallery div.uploader span.filename{
    display: none;
}

.center{
	text-align:center;
}
/* COMMON PRICING STYLES */

.panel.price,
.panel.price > .panel-heading {
    border-radius:0px;
    -moz-transition: all .3s ease;
    -o-transition:  all .3s ease;
    -webkit-transition:  all .3s ease;
}

.panel.price:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0, .2);
}

.panel.price:hover > .panel-heading {
    box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
}
        
.panel.price > .panel-heading {
    box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
    text-shadow:0px 3px 0px rgba(50,50,50, .6);
}
    
.price .list-group-item {
    border-bottom-:1px solid rgba(250,250,250, .5);
}

.panel.price .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.panel.price .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.price .panel-footer {
    color: #fff;
    border-bottom:0px;
    background-color:  rgba(0,0,0, .1);
    box-shadow: 0px 3px 0px rgba(0,0,0, .3);
}

.panel.price .btn{
    box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
    border:0px;
}

/* green panel */
.price.panel-green > .panel-heading {
    color: #fff;
    background-color: #57AC57;
    border-color: #71DF71;
    border-bottom: 1px solid #71DF71;
}
  
.price.panel-green > .panel-body {
    color: #fff;
    background-color: #65C965;
}

.price.panel-green > .panel-body .lead {
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-green .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:600;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* blue panel */
.price.panel-blue > .panel-heading {
    color: #fff;
    background-color: #608BB4;
    border-color: #78AEE1;
    border-bottom: 1px solid #78AEE1;
}
  
.price.panel-blue > .panel-body {
    color: #fff;
    background-color: #73A3D4;
}
        
.price.panel-blue > .panel-body .lead {
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-blue .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:600;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* red price */
.price.panel-red > .panel-heading {
    color: #fff;
    background-color: #D04E50;
    border-color: #FF6062;
    border-bottom: 1px solid #FF6062;
}
    
.price.panel-red > .panel-body {
    color: #fff;
    background-color: #EF5A5C;
}

.price.panel-red > .panel-body .lead {
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-red .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:600;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* grey price */


.price.panel-grey > .panel-heading {
    color: #fff;
    background-color: #6D6D6D;
    border-color: #B7B7B7;
    border-bottom: 1px solid #B7B7B7;
}

.price.panel-grey > .panel-body {
    color: #fff;
    background-color: #808080;
}

.price.panel-grey > .panel-body .lead {
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-grey .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:600;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* white price */

.price.panel-white > .panel-heading {
    color: #333;
    background-color: #f9f9f9;
    border-color: #ccc;
    border-bottom: 1px solid #ccc;
    text-shadow: 0px 2px 0px rgba(250,250,250, .7);
}

.panel.panel-white.price:hover > .panel-heading{
    box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
}
    
.price.panel-white > .panel-body {
    color: #fff;
    background-color: #dfdfdf;
}
        
.price.panel-white > .panel-body .lead{
    text-shadow: 0px 2px 0px rgba(250,250,250, .8);
    color:#666;
}

.price:hover.panel-white > .panel-body .lead{
    text-shadow: 0px 2px 0px rgba(250,250,250, .9);
    color:#333;
}

.price.panel-white .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:600;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}
		
/*5 columns luis*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
/*end 5 columns luis*/
/* .dispensaries-lists > div {
    padding-top: 20px;
} */

.dispensaries_lists_header {
    /* margin: 20px 0 0 0; */
    margin: 0;
    background: #2D2C2C;
    color: #FFFFFF;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 10px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .dispensaries-filters {
    padding: 10px 10px 10px 0;
    box-shadow: 0 0 8px rgba(0,0,0,.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
} */

.dispensaries-filters .dispensaries_filter_block.check {
    height: 70%;
    flex: 1;
    width: 100%;
    display: flex;
    white-space: nowrap;
    padding-right: 20px;
}

.dispensaries-filters button {
    text-transform: uppercase;
    /* border: 1px solid; */
    /* padding: 5px 10px; */
    margin: 0;
    /* border-radius: 5px; */
    /* box-shadow: 0 0 5px; */
    outline: none;
    border: none;
    color: white;
}

.dispensaries_filter_block_parent {
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;
}

.dispensaries-filters button.active-filter {
    box-shadow: none;
}

.dispensaries-filters .filter_button_show_all {
    background: #ce5656;
    box-shadow: 0 0 10px rgb(221, 100, 100);
}

.dispensaries-filters .filter_button_show_delivery {
    background: #0a9546;
    box-shadow: 0 0 10px rgba(10, 149, 70, 1);
}

.dispensaries-filters .filter_button_show_storefront {
    background: #d3ca53;
    box-shadow: 0 0 10px #d6ce55;
}

.dispensaries_shop_button {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.dispensaries_shop_button a {
    padding: 6px 15px;
    background: #0a9546;
    color: white;
    font-family: 'Futura PT Book';
    text-transform: uppercase;
}

.dispensaries-filters div.checker span {
    top: 0 !important;
}

.dispensaries_filter_block .filter_button_check {
    color: #141414;
    height: 100%;
    padding: 0 .9em;
    font-weight: 600;
    background: white;
    /* border: 1px solid #0a9546; */
}

.dispensaries_filter_block.one button:not(:first-child),
.dispensaries_filter_block .filter_button_check:not(:first-child) {
    margin-left: 5px;
}

.filter_button_check.active-filter {
    background: #56B646;
    color: white;
}

.delivery_type {
    color: #0a9546;
    font-weight: 600;
    font-size: 13px;
    margin-top: 10px;
}

.storefront_type {
    color: #d3ca53;
    font-weight: 600;
    font-size: 13px;
    margin-top: 10px;
}

.dispensaries_location_item.clock_icon {
    height: 18px;
}

.dispensaries_location_item.phone__icon {
    height: 15px;
}

.delivery_closed {
    width: auto;
    margin-right: auto;
    background: red;
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

#module-medicalmarijuanaexchangedirectory-dispensaries #columns {
    max-width: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#module-medicalmarijuanaexchangedirectory-dispensaries #columns #center_column {
    max-width: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#module-medicalmarijuanaexchangedirectory-dispensaries #columns .row {
    margin: 0 !important;
}

.dispensaries-filters {
    background: rgba(45, 44, 44, 0.9);
    /* padding: 17.5px 10px 17.5px 0; */
    height: 60px;
    box-shadow: 0 0 8px rgba(0,0,0,.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 9;
}

.dispensaries-filters > div {
    width: 30%;
}

.map {
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

#map {
    height: 100%;
}

.dispensaries-list-area {
    width: 25%;
    float: left;
    height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.custom__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    position: relative;
}

.custom_select_content {
    position: absolute;
    display: none;
    top: 100%;
    background: white;
    width: calc(100% - 40px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(131, 128, 128, 0.248415);
    z-index: 999;
}

.custom_select_content_check_parent {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    justify-content: space-between;
}

.custom_select_content_check_parent:not(:last-child) {
    border-bottom: 1px solid rgba(131, 128, 128, 0.248415);
}

.custom_select_content_check_parent label {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 0;
    user-select: none;
    cursor: pointer;
}

.custom_select_content_check_parent img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}



.custom_select_title {
    color: white;
    padding: 5px 0;
    width: 100%;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    /* display: flex;
    align-items: center; */
    position: relative;
}

.custom_select_title:after {
    content: '';
    position: absolute;
    right: 0;
    border: 7px solid white;
    border-top: 7px solid transparent; 
    border-right: 7px solid transparent; 
    border-left: 7px solid transparent;
    transform: rotate(180deg) translateY(-50%);
}

.custom_select_title.active:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    border: 7px solid white;
    border-top: 7px solid transparent;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    transform: translateY(-60%);
}

.dispensaries-list .company-name {
    font-size: 16px;
    color: #363636;
    font-weight: 600;
    padding-bottom: 5px;
    position: relative;
}
.dispensaries-list .company-name:after {
    content: '';
    border-bottom: 1px solid #EBEBEB;
    position: absolute;
    top: 100%;
    left: 0;
    width: 60%;
}

.dispensaries-list .company-name img {
    width: 20px;
    height: 20px;
    margin-right: 7px; 
}

.dispensaries-list .delivery_address,
.dispensaries-list .delivery_address {
    padding: 7px 0;
    font-size: 14px;
    color: #797474;
    font-weight: 600;
}

.dispensaries-list-item {
    padding-left: 20px; 
}

.dispensaries-list-item .company-logo {
    border: unset;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    width: 100px;
    height: 100px;
}

.dispensaries-lists .mCSB_scrollTools {
    margin: 10px 0;
}
.mobile_dispensaries_list {
    display: none;
}

.delivery_mobile_buttons {
    display: none;
}

.dispensaries_block_parent_content {
    display: flex;
    height: 100%;
    flex: 1;
}

.map_close__btn,
.dispensaries_block_parent_content .dispensaries_lists_header {
    display: none;
}

@media(max-width: 990px) {
    .dispensaries_lists_header {
        position: relative;
    }
    .map_close__btn {
        display: flex;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        right: 5px;
        /* background: aquamarine; */
        transform: translateY(-50%);
    }

    .map_close__btn span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        border-bottom: 1px solid white;
    }

    .map_close__btn span:first-child {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .map_close__btn span:last-child {
        transform: translate(-50%, -50%) rotate(45deg);
    }


    .dispensaries-filters .custom__select {
        flex: 1;
    }

    .mobile_dispensaries_filters {
        color: white;
        height: 100%;
        flex: 1;
        border-right: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
    }

    .dispensaries-list-area {
        width: 100%;
    }

    .mobile_dispensaries_list {
        position: relative;
        display: flex;
        justify-content: center;
        flex: 1;
        height: 30px;
        padding-right: 5px;
    }

    .dispensaries_filter_block_parent {
        display: none;
    }

    .mobie__dispenasaries_lists {
        display: none;
        position: relative;
        position: absolute;
        z-index: 9999999999;
        background: white;
        left: 0;
        top: 0;    
        width: 100%;
    }

    .delivery_mobile_buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        border-left: 1px solid white;
    }

    .dispensaries_block_parent_content {
        display: none;
        /* display: block; */
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 90vh;
        background: #ffffff;
        z-index: 99999;
    }

    .dispensaries_block_parent_content .dispensaries_filter_block_parent {
        flex-direction: column;
        display: flex;
    }

    .dispensaries_block_parent_content .dispensaries_filter_block_parent .custom__select {
        width: 100%;
        flex-direction: column;
        justify-content: unset;
        flex: unset !important;
        height: auto;
    }

    .dispensaries_block_parent_content .dispensaries_filter_block_parent .custom__select .custom_select_title {
        border-bottom: 0;
        padding: 30px 0 7px;
        color: #333;
    }

    .dispensaries_block_parent_content .dispensaries_filter_block_parent .custom__select .custom_select_title:after {
        content: none;
    }

    .dispensaries_block_parent_content .dispensaries_filter_block_parent .custom__select .custom_select_content {
        display: block !important;
        position: relative;
        top: 0;
        width: 100%;
        box-shadow: none;
        border: none;
    }

    .dispensaries_block_parent_content .dispensaries_lists_header {
        width: 100%;
        display: flex;
    }
    
    .dispensaries-filters .dispensaries_filter_block.check {
        height: unset;
        flex: unset;
        justify-content: space-evenly;
        border-top: 1px solid rgba(131, 128, 128, 0.248415);
        padding: 20px 0;
    }

    .dispensaries-filters .dispensaries_filter_block.check {
        height: unset;
        flex: unset;
        width: calc(100% - 40px);
    }

    .dispensaries_filter_block .filter_button_check {
        border: 1px solid #2D2C2C;
        padding: .9em;
    }

    .filter_button_check.active-filter {
        border: 1px solid #56B646;
    }

}

.mobile_dispensaries_list > span {
    border-bottom: 1px solid white;
    width: 80%;
    position: absolute;
    max-width: 30px;
}

.mobile_dispensaries_list > span:first-child {
    top: 30%;
}

.mobile_dispensaries_list > span:nth-child(2) {
    top: 50%;
}

.mobile_dispensaries_list > span:last-child {
    top: 70%;
}

.custom_breadcrumps {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 0 30px;
}

.custom_breadcrumps a:not(:last-child) {
    margin-right: 15px;
}
.custom_breadcrumps a:last-child {
    color: #56b646
}

.jobs__header_form {
    position: relative;
}

.jobs_header_form_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.browse_jobs_container {
    margin-top: 50px;
    border-top: 1px solid #838080;
}

.browse_jobs_container > h2 {
    font-size: 30px;
}

.job_tabs_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #838080;
    margin-bottom: 10px;
}

.job_tabs_header li {
    text-align: center;
    flex: 1;
    float: unset !important;
    margin: 0;
    border: 0;
}
.job_tabs_header li a:hover,
.job_tabs_header li:hover a,
.job_tabs_header li.active a {
    border-color: transparent !important;
    background-color: transparent !important;
    font-size: 18px !important;
}

.job_tabs_header li.active {
    border-bottom: 3px solid #084121;
    margin-bottom: -1.5px
}

#tab1default > div {
    display: flex;
    flex-direction: column;
}

/* .jobs_countries_filters {
    display: flex;
    justify-content: center;
} */

.jobs_countries_filters p {
    width: 100%;
    margin: 0;
    padding: 20px 0;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.jobs_countries_filters p:first-child {
    text-align: right;
    padding-right: 20px;
}

.jobs_countries_filters p:last-child {
    padding-left: 20px;
}

.jobs_countries_filters p:first-child {
    text-align: right;
}

.jobs_countries_filters_button.active {
    font-weight: bold;
}

.jobs_countries_filters_button.active:first-child::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0 ;
    height: 12px;
    width: 12px;
    background: #474646;
    border-radius: 50%;
}

.jobs_countries_filters_button.active:last-child::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 12px;
    width: 12px;
    background: #474646;
    border-radius: 50%;
}

.jobs_countries_filters_button {
    border-bottom: 1px solid #DADADA;
}

.countries_list li {
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid #DADADA;
    padding: 13px 0;
    font-size: 20px;
    width: 100%;
}

.add_lob_button_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 0 0 0;
}

.add_lob_button {
    background: #59B849;
    padding: 10px 0;
    text-align: center;
    color: white;
    width: 100%;
    max-width: 180px;
}

.jobs__header_form img {
    max-width: 100%;
}

.product_list.grid.row.blocknewproducts:before,
.product_list.grid.row.blocknewproducts:after {
    content: none !important;
}

.product_list.grid.row.blocknewproducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    clear: both;
}

.new_categories .title_block {
    padding-top: 32px;
}

@media(max-width: 991px) {
    .jobs__header_form {
        height: 300px;
    }

    .jobs__header_form img {
        height: 100%;
        object-fit: cover;
    }
}

@media(max-width: 768px) {
    .countries_list {
        list-style-type: none;
        columns: 1 !important;
        -webkit-columns: 1 !important;
        -moz-columns: 1 !important;
        column-gap: 0 !important;
    }

    .jobs_countries_filters_button {
        border: none;
    }

    .jobs_countries_filters {
        border-bottom: 1px solid #DADADA;
    }
    #category .category_name {
        font-size: 29px;
    }
    #category .sub_cat_name,
    #category-feature-products .featured_title {
        font-size: 23px;
    }
}

.sub-category-box {
    border-bottom: 1px solid #222222;
    margin-bottom: 30px;
}

.left_width{
    width: 65%;
    float: left;
  }
  .right_width{
    width: 35%;
    float: left;
  }
  .first_news{
    width: 68%;
    float: left;
    margin-right: 1%;
    position: relative;
  }
  .first_news img{
    width: 100%;
  }
  .first_news span{
    font-size: 29px;
    color: #ffffff;
    position: absolute;
    bottom: 50px;
    line-height: 1;
    padding: 0 10px;
    cursor: pointer;
  }
  .next_news{
    width: 29.7%;
    float: left;
    position: relative;
    margin-bottom: 1%;
  }
  .next_news img{
    width: 100%;
  }
  .next_news span{
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    bottom: 20px;
    line-height: 1;
    padding: 0 10px;
    cursor: pointer;
  }
  .stocks_list{
    margin-top: 15px;
  }
  .news-list img{
    width: 300px;
    float: left;
    margin-right: 10px;
  }
  .news_title{
    font-size: 26px;
    color: #000000;
    display: block;
    margin-top: 10px;
    line-height: 26px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .news-list{
    clear: both;
    overflow: hidden;
    margin: 15px 0;
  }
  .news_description{
    margin-right: 10px;
  }
  .right_banners{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
  }
  #stocks_news{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    margin-top: 20px;
  }
  .stocks_news_title{
        text-transform: uppercase;
    color: #1674b1;
    font-family: "Oswald", "Arial Narrow", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 35px;
    padding: 5px 15px 10px;
    border-bottom: solid 1px #cccccc;
    margin: 10px 0 0;
  }
  .singlr_title{
    display: inline;
    color: #000000;
    margin-right: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  .single_news_block{
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 10px 15px;
    margin: 0;
    line-height: 14px;
  }
  .more_news{
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 0;
    display: inline-block;
  }
  .more_news .fa-chevron-right{
    font-size: 15px;
    margin-left: 5px;
  }
  #stocks_news{
    width: 100%;
    background: #FFFFFF;
    padding-right: 20px;
  }
  .stocks_news_title{
        text-transform: uppercase;
    color: #1674b1;
    font-family: "Oswald", "Arial Narrow", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 35px;
    padding: 5px 15px 10px;
    border-bottom: solid 1px #cccccc;
    margin: 10px 0 0;
  }
  .singlr_title{
    display: inline;
    color: #000000;
    margin-right: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  .single_news_block{
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 10px 15px;
    margin: 0;
    line-height: 14px;
    display: none;
  }
  .single_loading_block{
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 10px 15px;
    margin: 0;
    line-height: 14px;
  }
  .more_news{
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 0;
    display: inline-block;
  }
  .more_news .fa-chevron-right{
    font-size: 15px;
    margin-left: 5px;
  }
  #loadMore{
        padding: 15px 50px;
    background-color: #1674b1;
    margin: 0 auto 2px;
    text-align: center;
    width: 200px;
    border-radius: 2px;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 30px;
    display: block;
  }
    .single_quote{
        background-image: linear-gradient(180deg,#1f2a36,#52545a);
        padding: 20px;
        margin-bottom: 35px;
        overflow: hidden;
    }

    .single_quote iframe{
        float: left;
    }
    .single_stock_news{
        margin-top: 35px;
    }
  @media (max-width: 998px) {
    .next_news, .first_news{
      float: none;
      width: 100%;
      margin-bottom: 5px;
      padding-right: 10px;
    }
    .news_title {
      font-size: 20px;
    }
    .next_news span{
      font-size: 29px;
      color: #ffffff;
      position: absolute;
      bottom: 50px;
      line-height: 1;
      padding: 0 10px;
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    .left_width {
        width: 100%;
        float: none;
    }

    .next_news, .first_news{
      padding-right: 0px;
    }

    .right_width {
      width: 100%;
      float: none;
    }
  }

  @media (max-width: 600px) {
    .left_width{
      padding: 0 10px;
    }
    .right_width {
      padding: 0 10px;
    }
    .news-list img {
      width: 150px;
    }
    .news_title {
      font-size: 17px;
      margin-top: 0px; 
      line-height: 22px;
      margin-bottom: 0px; 
    }
    .first_news span, .next_news span {
      font-size: 23px;
    }
  }