/* Block newsletter */
#columns #newsletter_block_left .form-group {
  margin-bottom: 0; }
  #columns #newsletter_block_left .form-group .form-control {
    max-width: 222px;
    display: inline-block;
    margin-right: 6px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      #columns #newsletter_block_left .form-group .form-control {
        margin-bottom: 10px;
        margin-right: 0; } }
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px; }
#columns #newsletter_block_left .success_inline {
  color: #418B19; }
#columns #newsletter_block_left .warning_inline {
  color: #f13340; }

/* Block newsletter footer */
#footer #newsletter_block_left {
  /*overflow: hidden;*/
  /*width: 50%;*/
  /*float: left;*/
  padding: 13px 15px 7px 15px;
  margin-bottom: 0; }
  @media (max-width: 767px) {
    #footer #newsletter_block_left {
      width: 100%; } }
  #footer #newsletter_block_left h4 {
    background: none;
    /*float: left;*/
    padding: 7px 16px 5px 0;
    text-transform: none;
    font-size: 21px;
    line-height: 25px;
    border: none;
    font-family: Baskerville;
      line-height: 28px;
      font-size: 25px;
      color: #FFFFFF;
    font-weight: 400;
  }
    #footer #newsletter_block_left h4:after {
      display: none; }
  #footer #newsletter_block_left .block_content {
    overflow: hidden; }
  #footer #newsletter_block_left .form-group {
    margin-bottom: 0; }
    #footer #newsletter_block_left .form-group .form-control {
     height: 40px;
      max-width: 267px;
      background: #3c3c3c;
      border-color: #FFF;
      color: #FFF;
      padding: 10px 43px 10px 12px;
      display: inline-block;
      /* float: left; */
      border-radius: 0;
      background-color: transparent !important;
      font-weight: 400 !important;
      }
      #footer #newsletter_block_left .form-group .form-control:focus {
        -moz-box-shadow: black 0px 0px 0px;
        -webkit-box-shadow: black 0px 0px 0px;
        box-shadow: black 0px 0px 0px; }
    #footer #newsletter_block_left .form-group .button-small {
      background: #FFF;
      text-align: center;
      color: #908f8f;
      padding: 8px;
      border: 1px solid #FFF;
      height: 40px;
    }
      /*#footer #newsletter_block_left .form-group .button-small:before {
        content: "\f138";
        font-family: "FontAwesome";
        font-size: 28px;
        line-height: 28px; }*/
      #footer #newsletter_block_left .form-group .button-small:hover {
        color: #fff !important; }
      #footer #newsletter_block_left .form-group .button-small span {
        /*display: none;*/ border: none;
            border: none;
      color: #0A9546 !important;
      text-shadow: none !important;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 400;
      }
        #footer #newsletter_block_left .form-group .button-small span:hover {
          background-color: inherit;
        }
  #footer #newsletter_block_left .warning_inline {
    display: block;
    color: #f13340;
    font-size: 13px;
    line-height: 26px;
    clear: both; }

    @media (min-width: 1200px) {
      #footer #newsletter_block_left .warning_inline {
        display: inline-block;
        position: relative;
        top: -35px;
        margin-bottom: -35px;
        left: 15px;
        clear: none; } }
  }
  #footer #newsletter_block_left .newsletter-input {
    max-width: 300px !important; }

#newsletter-box {
  /*padding-left: 0px;*/
  align-self: stretch;
  background: #084121;
  display: flex;
  justify-content: center;
  align-items: center;
}

#newsletter-box #newsletter_block_left > span {
      font-family: Futura PT;
    line-height: 23px;
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 15px;
}

.footer-container .htmlcontent-home {
  display: flex;
  justify-content: space-between;
}

.footer-container .htmlcontent-home > li {
  width: auto !important;
}

.footer-container .htmlcontent-home > li.htmlcontent-item-3 {
  width: 20% !important;
}

.footer-container .htmlcontent-home > li.htmlcontent-item-3 i {
  font-size: 20px;
}

.footer-container .htmlcontent-home > li.htmlcontent-item-3 li:hover i {
  color: #56b646;
}

.footer-container #footer .htmlcontent-home h4 {
      font-family: Futura PT;
    line-height: 23px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 300;
    text-transform: uppercase;
    cursor: default;
}

.footer-container #footer ul li a {
      font-family: Futura PT;
    line-height: 13px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
}

/*# sourceMappingURL=blocknewsletter.css.map */
